{%- from "components/alerts_icon.html" import alerts_icon -%}

{% macro alert(alert) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="alerts-icon__container alerts-icon__container--48">
        {{ alerts_icon(height=48, alert_active=alert.is_current) }}
        <h2 class="alerts-alert__title govuk-heading-s govuk-!-margin-bottom-3">
          {% if alert.is_public %}
            <span class="govuk-visually-hidden">Emergency alert sent to </span>{{ alert.display_areas | formatted_list(before_each='', after_each='') }}
          {% else %}
            Mobile network operator test
          {% endif %}
        </h2>
        {{ alert.content | paragraphize }}
        {% if alert.is_public %}
          <a href="/alerts/{{ alert.identifier }}" class="govuk-link govuk-body">
            More information about this alert
            <span class="govuk-visually-hidden">to {{ alert.display_areas | formatted_list(before_each='', after_each='') }}</span>
          </a>
        {% else %}
          <a href="/alerts/mobile-network-operator-tests" class="govuk-link govuk-body">
            More information about mobile network operator tests
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
