{%- from "components/alerts_icon.html" import alerts_icon -%}

{% macro alert(alert, heading_level=2, language='en') %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="alerts-icon__container alerts-icon__container--48">
        {{ alerts_icon(height=48, alert_active=alert.is_current) }}
        {% if not alert.is_public %}
          <h{{ heading_level }} class="alerts-alert__title govuk-heading-s govuk-!-margin-bottom-3">
              Mobile network operator test
          </h{{ heading_level }}>
        {% else %}
          <h{{ heading_level }} class="alerts-alert__title govuk-heading-s govuk-!-margin-bottom-3">
            <span class="govuk-visually-hidden">Emergency alert sent to </span>{{ alert.display_areas | formatted_list(before_each='', after_each='') | simplify_custom_area_name('en') |capitalise }}
          </h{{ heading_level }}>
        {% endif %}
        {{ alert_body(alert) }}
        {% if alert.is_public %}
          {% if language == 'cy' %}
            <a href="/alerts/{{ alert | get_url_for_alert }}.cy" class="govuk-link govuk-body">
              Rhagor o wybodaeth am y rhybudd hwn
              <span class="govuk-visually-hidden">to {{ alert.display_areas | formatted_list(before_each='', after_each='') | simplify_custom_area_name('cy') }}</span>
            </a>
          {% else %}
            <a href="/alerts/{{ alert | get_url_for_alert }}" class="govuk-link govuk-body">
              More information about this alert
              <span class="govuk-visually-hidden">to {{ alert.display_areas | formatted_list(before_each='', after_each='') | simplify_custom_area_name('en') }}</span>
            </a>
          {% endif %}
        {% else %}
          {% if language == 'cy' %}
            <a href="/alerts/system-testing.cy" class="govuk-link govuk-body">
              Dysgwch ragor am profi'r gwasanaeth Rhybuddion Argyfwng
              <span class="govuk-visually-hidden">to {{ alert.display_areas | formatted_list(before_each='', after_each='') | simplify_custom_area_name('cy')}}</span>
            </a>
          {% else %}
            <a href="/alerts/system-testing" class="govuk-link govuk-body">
              Find out more about testing the Emergency Alerts service
              <span class="govuk-visually-hidden">to {{ alert.display_areas | formatted_list(before_each='', after_each='') | simplify_custom_area_name('en') }}</span>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro alert_body(alert) %}
  {{ alert.content | paragraphize | autolink_urls(classes='govuk-link') }}
{% endmacro %}
