{%- from "components/alerts_icon.html" import alerts_icon -%}
{%- from "components/alert_text.html" import alert_text -%}

{% macro extended_alert(alert, heading_level=2, language='en') %}

{% set alertAreaNames = alert.display_areas | formatted_list(before_each='', after_each='') | simplify_custom_area_name(language) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="alerts-icon__container alerts-icon__container--48">
        {{ alerts_icon(height=48, alert_active=alert.is_current) }}
        {% if not alert.is_public %}
          <h{{ heading_level }} class="alerts-alert__title govuk-heading-m govuk-!-margin-bottom-3">
              Mobile network operator test
          </h{{ heading_level }}>
        {% else %}
          <h{{ heading_level }} class="alerts-alert__title govuk-heading-m govuk-!-margin-bottom-3">
            Emergency Alert
          </h{{ heading_level }}>
        {% endif %}
        {{alert_text(alert.content)}}
        {% if alert.extra_content %}
          {% if language == 'en' %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <div id="extra-content">
                <p class="govuk-heading-s">Additional Information </p>
                {{alert_text(alert.extra_content)}}
            </div>
          {% elif language == 'cy' %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <div id="extra-content">
                <p class="govuk-heading-s">Gwybodaeth Ychwanegol </p>
                {{alert_text(alert.extra_content)}}
            </div>
          {% endif %}
        {% endif %}

        <p class="govuk-body govuk-!-margin-bottom-0">
            Sent by the UK government <time datetime="{{ alert.starts_at_date.as_iso8601 }}">{{ alert.starts_at_date.as_lang }}</time>
        </p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        {% set alertAreas %}
          {% if language == 'en' %}
            <p class="govuk-body">
            This alert was sent to {{ alertAreaNames }}.
            </p>
            <p class="govuk-body">
            Surrounding areas might also have received the alert.
            </p>
          {% elif language == 'cy' %}
            <p class="govuk-body">
              Anfonwyd at {{ alertAreaNames }}.
            </p>
            <p class="govuk-body">
              Efallai fod ardaloedd oddi amgylch hefyd wedi cael y rhybudd.
            </p>
          {% endif %}
        {% endset %}
        <p>{{ alertAreas }}</p>
      </div>
    </div>
  </div>
{% endmacro %}
