{% macro related_content(params) -%}
  <aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
      Related content
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        {% for item in params['items'] %}
          <li>
            <a href="/alerts{{item.href}}">
              {{item.text}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </aside>
{%- endmacro %}