{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/alert_text.html" import alert_text -%}
{%- from "components/alerts_icon.html" import alerts_icon -%}
{%- from "components/image.html" import image -%}
{%- from "components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Emergency alert" %}
{% set alertAreaNames = alert_data.display_areas | formatted_list(before_each='', after_each='') | simplify_custom_area_name('en') %}

{% block metaTags %}
  {{ metaTags(
    description=alert_data.content,
    title=pageTitle,
    url="https://www.gov.uk/alerts/" ~ ( alert_data | get_url_for_alert)
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% if alert_data.is_expired %}
  {% set parentBreadcrumb = {"text": "Past alerts", "href": "/alerts/past-alerts"} %}
{% else %}
  {% set parentBreadcrumb = {"text": "Current alerts", "href": "/alerts/current-alerts"} %}
{% endif %}

{% block beforeContent %}
<div class="govuk-grid-row govuk-subheader">
  <div class="govuk-breadcrumbs">
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "https://www.gov.uk/"
      },
      {
        "text": "About Emergency Alerts",
        "href": "/alerts"
      },
      parentBreadcrumb,
    ]
  }) }}
</div>
<div class="govuk-separator"></div>
<div class="govuk-language-select">
  {{ hmrcLanguageSelect({
    'language': 'en',
    'cy': {
      'href': '/alerts/' ~ (alert_data | get_url_for_alert) ~ '.cy'
    }
  }) }}
</div>
</div>
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl alerts-icon__container alerts-icon__container--48">
        {{ alerts_icon(height=48, alert_active=alert_data.is_current) }}
        Emergency Alert
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds alert-icon__container">
      {% if alert_data.is_expired %}
      <h2 class="govuk-heading-m">
        Stopped sending <time datetime="{{ alert_data.expires_date.as_iso8601 }}">{{ alert_data.expires_date.as_lang }}</time>
      </h2>
      {% endif %}
      {{alert_text(alert_data.content)}}

      {% if alert_data.extra_content %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-heading-m" id="extra-content">
          <strong>Additional Information:</strong> {{alert_text(alert_data.extra_content)}}
        </p>
      {% endif %}

      <p class="govuk-body govuk-!-margin-bottom-0">
        Sent by the UK government <time datetime="{{ alert_data.starts_at_date.as_iso8601 }}">{{ alert_data.starts_at_date.as_lang }}</time>
      </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {% set alertAreas %}
        <p class="govuk-body">
          This alert was sent to {{ alertAreaNames }}.
        </p>
        <p class="govuk-body">
          Surrounding areas might also have received the alert.
        </p>
      {% endset %}
      <p>{{ alertAreas }}</p>
    </div>
  </div>
{% endblock %}

