{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}
{%- from "components/alert.html" import alert -%}
{%- from "components/alerts_icon.html" import alerts_icon -%}
{%- from "components/image.html" import image -%}
{%- from "components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Emergency alert" %}
{% set alertAreaNames = alert_data.display_areas | formatted_list(before_each='', after_each='') %}

{% block metaTags %}
  {{ metaTags(
    description=alert_data.content,
    title=pageTitle,
    url="https://www.gov.uk/alerts/" ~ ( alert_data | get_url_for_alert)
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% if alert_data.is_expired %}
  {% set parentBreadcrumb = {"text": "Past alerts", "href": "/alerts/past-alerts"} %}
{% else %}
  {% set parentBreadcrumb = {"text": "Current alerts", "href": "/alerts/current-alerts"} %}
{% endif %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency alerts",
        "href": "/alerts"
      },
      parentBreadcrumb,
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl alerts-icon__container alerts-icon__container--48">
    {{ alerts_icon(height=48, alert_active=alert_data.is_current) }}
    Emergency alert
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds alert-icon__container">
      {% if alert_data.is_expired %}
      <h2 class="govuk-heading-s">
        Stopped sending <time datetime="{{ alert_data.expires_date.as_iso8601 }}">{{ alert_data.expires_date.as_lang }}</time>
      </h2>
      {% endif %}
      {{ alert_data.content | paragraphize }}

      <p class="govuk-body govuk-!-margin-bottom-0">
        Sent by the UK government <time datetime="{{ alert_data.starts_at_date.as_iso8601 }}">{{ alert_data.starts_at_date.as_lang }}</time>
      </p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% set alertAreas %}
    <p class="govuk-body">
      Sent to {{ alertAreaNames }}.
    </p>
    <p class="govuk-body">
      Surrounding areas might also have received the alert.
    </p>
  {% endset %}
  {{ govukDetails({
    "summaryText": "See where this alert was sent",
    "html": alertAreas,
    "classes": "govuk-!-margin-bottom-3"
  }) }}
  {% set sharingContent %}
    <div class="share-url">
      <p class="govuk-body">
        https://www.gov.uk/alerts/{{ alert_data | get_url_for_alert }}
      </p>
    </div>
  {% endset %}
  {{ govukDetails({
    "summaryText": "Share this page",
    "html": sharingContent
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}"></script>
  <!--[if gt IE 8]><!--><script type="text/javascript" src="{{ '/alerts/assets/javascripts/sharing-button.js' | file_fingerprint }}"></script><!--<![endif]-->

{% endblock %}
