{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/related_content.html" import related_content -%}
{%- from "components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Cyhoeddiadau" %}

{% block metaTags %}
  {{ metaTags(
    description="Planned tests of the Emergency Alerts service",
    title=pageTitle,
    url="https://www.gov.uk/alerts/announcements.cy"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Am Rybuddion Argyfwng",
        "href": "/alerts/about.cy"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ hmrcLanguageSelect({
        'language': 'cy',
        'en': {
          'href': '/alerts/announcements'
        }
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if alerts.planned_grouped_by_date %}
        {% for _date, alerts_or_planned_tests in alerts.planned_grouped_by_date | sort %}
          {% set date_loop = loop %}
          {{ planned_tests_by_date(date_loop, alerts_or_planned_tests) }}
        {% endfor %}
      {% else %}
        <p class="govuk-body">
          Nid oes unrhyw gyhoeddiadau ar hyn o bryd.
        </p>
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "Am Rybuddion Argyfwng",
            "href": "/alerts/about.cy"
          },
          {
            "text": "Sut mae'r rhybuddion argyfwng yn gweithio",
            "href": "/alerts/how-alerts-work.cy"
          },
          {
            "text": "Profion ar y gweill",
            "href": "/alerts/service-tests.cy"
          },
          {
            "text": "Rhybuddion ar hyn o bryd",
            "href": "/alerts/current-alerts.cy"
          },
          {
            "text": "Rhybuddion yn y gorffennol",
            "href": "/alerts/past-alerts.cy"
          }
        ],
        "language": "cy"
      }) }}
    </div>
  </div>
{% endblock %}

{% macro planned_tests_by_date(date_loop, alerts_or_planned_tests) %}
  {% for alert_or_planned_test in alerts_or_planned_tests | sort %}
    {% if not loop.first and not alert_or_planned_test.is_public %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endif %}
    {% if loop.first %}
      <h2 class="govuk-heading-m {% if not date_loop.first %}govuk-!-margin-top-9{% endif %}">
        {{ alert_or_planned_test.starts_at_date.date_as_lang }}
      </h2>
    {% endif %}
    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      {% if alert_or_planned_test.is_public %}
        {{ alert_or_planned_test.display_areas | formatted_list(before_each='', after_each='') }}
      {% endif %}
    </h2>
    {% if not alert_or_planned_test.is_public %}
      <p class="govuk-body">
        Bydd prawf gwasanaeth ar system Rhybuddion Argyfwng y DU heddiw.
      </p>
      <p class="govuk-body">
        Ni chaiff y rhan fwyaf o ffonau symudol a llechi rybudd prawf.
      </p>
      <p class="govuk-body">
        Dysgwch ragor am <a href="/alerts/system-testing.cy" class="govuk-link">profi'r gwasanaeth Rhybuddion Argyfwng</a>.
      </p>
    {% endif %}
    <p class="govuk-body">
      Bydd y rhybudd yn dweud:
    </p>
    <div class="govuk-inset-text govuk-!-margin-top-2">
        {{ alert_or_planned_test.content | paragraphize(classes="govuk-body") }}
    </div>
  {% endfor %}
{% endmacro %}