{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/alert.html" import alert -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Rhybuddion ar hyn o bryd" %}

{% block metaTags %}
  {{ metaTags(
    description="A list of the emergency alerts currently being sent in the UK",
    title=pageTitle,
    url="https://www.gov.uk/alerts/current-alerts.cy"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
<div class="govuk-grid-row govuk-subheader">
  <div class="govuk-breadcrumbs">
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "https://www.gov.uk/"
      },
      {
        "text": "Am Rybuddion Argyfwng",
        "href": "/alerts/about.cy"
      }
    ]
  }) }}
</div>
<div class="govuk-separator"></div>
<div class="govuk-language-select">
  {{ hmrcLanguageSelect({
    'language': 'cy',
    'en': {
      'href': '/alerts/current-alerts'
    }
  }) }}
</div>
</div>
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
      <div class="govuk-inset-text">
        Gellir ysgrifennu Rhybuddion Argyfwng yn Gymraeg neu yn Saesneg
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for current_alert in alerts.current_and_public | sort(reverse=True) %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {{ alert(alert=current_alert, language='cy') }}
      {% endfor %}

      {% if alerts.current_and_public %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8">
      {% else %}
      <p class="govuk-body">WELSH TRANSLATION OF NO ALERTS CURRENTLY.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "Am Rybuddion Argyfwng",
            "href": "/alerts/about.cy"
          },
          {
            "text": "Sut mae'r rhybuddion argyfwng yn gweithio",
            "href": "/alerts/how-alerts-work.cy"
          },
          {
            "text": "Rhybuddion yn y gorffennol",
            "href": "/alerts/past-alerts.cy"
          },
          {
            "text": "Profi cyhoeddus",
            "href": "/alerts/public-testing.cy"
          },
          {
            "text": "Profion gweithredwyr",
            "href": "/alerts/operator-testing.cy"
          },
          {
            "text": "Optio allan o rybuddion argyfwng",
            "href": "/alerts/opting-out.cy"
          },
          {
            "text": "Porthiant",
            "href": "/alerts/feed_cy.atom"
          }
        ],
        "language": "cy"
      }) }}
    </div>
  </div>
{% endblock %}
