{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/alert.html" import alert -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Current alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="A list of the emergency alerts currently being sent in the UK",
    title=pageTitle,
    url="https://www.gov.uk/alerts/current-alerts"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "About Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ hmrcLanguageSelect({
        'language': 'en',
        'cy': {
          'href': '/alerts/current-alerts.cy'
        }
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for current_alert in alerts.current_and_public | sort(reverse=True) %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {{ alert(alert=current_alert) }}
      {% endfor %}

      {% if alerts.current_and_public %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8">
      {% else %}
      <p class="govuk-body">There are no current emergency alerts.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          },
          {
            "text": "How emergency alerts work",
            "href": "/alerts/how-alerts-work"
          },
          {
            "text": "Testing the Emergency Alerts system",
            "href": "/alerts/system-testing"
          },
          {
            "text": "Planned tests",
            "href": "/alerts/planned-tests"
          },
          {
            "text": "Past alerts",
            "href": "/alerts/past-alerts"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
