{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "How emergency alerts work" %}

{% block metaTags %}
  {{ metaTags(
    description="Emergency alerts are broadcast from mobile phone masts. Find out if your phone or tablet can receive alerts.",
    title=pageTitle,
    url="https://www.gov.uk/alerts/how-alerts-work"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "https://www.gov.uk/"
      },
      {
        "text": "About Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ hmrcLanguageSelect({
        'language': 'en',
        'cy': {
          'href': '/alerts/how-alerts-work.cy'
        }
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        In an emergency, mobile phone masts in the surrounding area will broadcast an alert. Every compatible mobile phone or tablet in range of a mast will receive the alert.
      </p>
      <div class="govuk-inset-text">
        Emergency alerts work on all 4G and 5G phone networks in the UK.
      </div>
      <p class="govuk-body">
        Your mobile phone or tablet does not have to be connected to mobile data or wifi to get alerts.
      </p>
      <p class="govuk-body">
        Emergency alerts are free. You do not need to sign up for them or download an app.
      </p>
      <h2 class="govuk-heading-l">
        Reasons you will not get an alert
      </h2>
      <p class="govuk-body">
        You will not receive alerts if your device is:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          turned off or in airplane mode
        </li>
        <li>
          connected to a 2G or 3G network
        </li>
        <li>
          wifi only
        </li>
        <li>
          not compatible
        </li>
      </ul>
      <h2 id="compatible-devices" class="scroll-mt-20 govuk-heading-l">
        Compatible mobile phones and other devices
      </h2>
      <p class="govuk-body">
        Make sure your device has all the latest software updates.
      </p>
      <p class="govuk-body">
        Emergency alerts work on:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          iPhones running iOS 14.5 or later
        </li>
        <li>
          Android phones and tablets running Android 11 or later
        </li>
      </ul>
      <p class="govuk-body">
        If you have an earlier version of Android, you may still be able to receive alerts. To check, search your device settings for ‘emergency alerts’.
      </p>
      <h2 class="govuk-heading-l">
        If you want to see an alert again
      </h2>
      <p class="govuk-body">
        To see an alert again, go to <a class="govuk-link" href="/alerts/current-alerts">current alerts</a> or
        <a class="govuk-link" href="/alerts/past-alerts">past alerts</a>.
      </p>
      <p class="govuk-body">
        You can also search for emergency alerts on your mobile phone or tablet.
      </p>
      <h2 class="govuk-heading-l">
        If you get reminders about an alert
      </h2>
      <p class="govuk-body">
        Android phones and tablets may get more than one reminder about the same emergency alert. You can turn these reminders off through the ‘emergency alerts’ settings on your device.
      </p>
      <h2 class="govuk-heading-l">
        Opting out of emergency alerts
      </h2>
      <p class="govuk-body">
        You can opt out of emergency alerts, but you should keep them switched on for your own safety.
      </p>
      <p class="govuk-body" id="opt-out">
        To opt out:
      </p>
      <ul class="govuk-list">
        <ol type="1">
          <li>Search your settings for ‘emergency alerts’.</li>
          <li>Turn off ‘severe alerts’ and ‘extreme alerts’.</li>
        </ol>
      </ul>
      <p class="govuk-body">
        If you still get alerts, contact your device manufacturer for help.
      </p>
      <h2 class="govuk-heading-l">
        Your personal data
      </h2>
      <p class="govuk-body">
        The emergency services and the UK government do not need your phone number to send you an alert.
      </p>
      <div class="govuk-inset-text">
        Data about you, your device or location will not be collected or shared.
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          },
          {
            "text": "Current alerts",
            "href": "/alerts/current-alerts"
          },
          {
            "text": "Past alerts",
            "href": "/alerts/past-alerts"
          },
          {
            "text": "Testing the Emergency Alerts service",
            "href": "/alerts/system-testing"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
