
{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/banner.html" import banner, announcement_banner, service_tests_banner -%}
{%- from "components/image.html" import image -%}
{%- from "components/example.html" import example -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Am Rybuddion Argyfwng" %}

{% block metaTags %}
  {{ metaTags(
    description="Your mobile phone or tablet may get an emergency alert if there’s a danger to life nearby. Alerts tell you what to do to stay safe.",
    title=pageTitle,
    url="https://www.gov.uk/alerts/about.cy"
  ) }}
{% endblock %}


{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
<div class="govuk-grid-row govuk-subheader">
  <div class="govuk-breadcrumbs">
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "https://www.gov.uk/"
      }
    ]
  }) }}
</div>
<div class="govuk-separator"></div>
<div class="govuk-language-select">
  {{ hmrcLanguageSelect({
    'language': 'cy',
    'en': {
      'href': '/alerts'
    }
  }) }}
</div>
</div>
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
  </div>
  {% if alerts.current_and_public or alerts.status_box_announcements %}
    {% if alerts.current_and_public %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {{ banner(alerts.current_and_public | length, alerts.last_updated_date, lang='cy') }}
    {% elif alerts.status_box_announcements %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {{ announcement_banner(alerts.status_box_announcements, lang='cy') }}
    {% endif %}
  {% else %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m" id="alert-status">
      WELSH TRANSLATION OF NO ALERTS CURRENTLY
    </h2>
  {% endif %}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Un o wasanaethau llywodraeth y DU yw Rybuddion Argyfwng a fydd yn eich rhybuddio pan fydd perygl i fywyd gerllaw.
      </p>
      <p class="govuk-body">
        Mewn argyfwng, caiff eich ffôn symudol neu'ch llechen rybudd â chyngor am sut i gadw'n ddiogel.
      </p>
      <div class="govuk-inset-text">
        Does dim angen i'r llywodraeth wybod eich rhif ffôn na'ch lleoliad er mwyn anfon rhybudd atoch.
      </div>
      <h2 class="govuk-heading-l">Rhesymau pam y gallech gael&nbsp;rhybudd</h2>
      <p class="govuk-body">
        Gallech gael rhybuddion am y canlynol:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          llifogydd difrifol
        </li>
        <li>
          tanau
        </li>
        <li>
          tywydd eithafol
        </li>
      </ul>
      <p class="govuk-body">
        Anfonir rhybuddion argyfwng yn unig trwy:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          y gwasanaethau brys
        </li>
        <li>
          adrannau'r llywodraeth, asiantaethau a chyrff cyhoeddus sy'n ymdrin ag argyfyngau
        </li>
      </ul>
      <h2 class="govuk-heading-l">Beth sy'n digwydd pan gewch chi rybudd argyfwng</h2>
      <p class="govuk-body">
        Gallai eich ffôn symudol neu eich llechen:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          wneud sŵn uchel tebyg i seiren, hyd yn oed os yw ar osodiad tawel
        </li>
        <li>
          dirgrynu
        </li>
        <li>
          darllen y rhybudd yn uchel
        </li>
      </ul>
      <p class="govuk-body">
        Bydd y sŵn a'r dirgryniad yn parhau am ryw 10 eiliad.
      </p>
      <p class="govuk-body">
        Bydd rhybudd yn cynnwys rhif ffôn neu ddolen at wefan GOV.UK am ragor o wybodaeth.
      </p>
      <p class="govuk-body">
        Cewch chi ragor o rybuddion ar sail eich lleoliad presennol – nid ble rydych chi'n byw neu'n gweithio. Does dim angen i chi droi gwasanaethau lleoliad ymlaen i gael rhybuddion.
      </p>
      <h2 class="govuk-heading-l">Beth mae angen i chi ei wneud</h2>
      <p class="govuk-body">
        Pan gewch chi rybudd, stopiwch beth rydych chi'n ei wneud a dilynwch y cyfarwyddiadau yn y rhybudd.
      </p>
      <h3 class="govuk-heading-m">Os ydych chi'n gyrru neu'n reidio pan gewch chi rybudd</h3>
      <p class="govuk-body">
        Peidiwch â darllen nac ymateb i rybudd argyfwng wrth yrru neu reidio.
      </p>
      <p class="govuk-body">
        Dewch o hyd i rywle diogel a chyfreithiol i stopio cyn darllen y neges. Os nad oes unrhyw le diogel a chyfreithlon i stopio, a neb arall yn y cerbyd i ddarllen y rhybudd, gallwch wrando ar newyddion ar radio byw i gael gwybod am yr argyfwng.
      </p>
      <div class="govuk-inset-text">
        Mae defnyddio dyfais llaw wrth yrru neu reidio yn erbyn y gyfraith.
      </div>
      <h2 class="govuk-heading-l">Os na allwch chi dderbyn rhybuddion argyfwng</h2>
      <p class="govuk-body">
        Os nad oes gennych chi <a class="govuk-link" href="/alerts/how-alerts-work.cy#compatible-devices">ddyfais gydweddol</a>, rhoddir gwybod o hyd i chi am argyfwng. Mae gan y gwasanaethau brys ffyrdd eraill o'ch rhybuddio pan fydd bygythiad i fywyd.
      </p>
      <div class="govuk-inset-text">
        Ni fydd rhybuddion argyfwng yn disodli newyddion lleol, radio, teledu na'r cyfryngau cymdeithasol.
      </div>
      <h2 class="govuk-heading-l">Os ydych chi'n fyddar, yn drwm eich clyw, yn ddall neu'n rhannol ddall</h2>
      <p class="govuk-body">
        Os oes gennych nam ar eich golwg neu'ch clyw, bydd signalau sylw sain a dirgrynu yn rhoi gwybod i chi fod gennych chi rybudd argyfwng.
      </p>
      <h2 class="govuk-heading-l">Ieithoedd y rhybuddion</h2>
      <p class="govuk-body">
        Anfonir rhybuddion argyfwng yn y Saesneg. Yng Nghymru, gellir hefyd eu hanfon yn y Gymraeg.
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "Sut mae'r rhybuddion argyfwng yn gweithio",
            "href": "/alerts/how-alerts-work.cy"
          },
          {
            "text": "Rhybuddion ar hyn o bryd",
            "href": "/alerts/current-alerts.cy"
          },
          {
            "text": "Rhybuddion yn y gorffennol",
            "href": "/alerts/past-alerts.cy"
          },
          {
            "text": "Public testing",
            "href": "/alerts/public-testing.cy"
          },
          {
            "text": "Profi'r gwasanaeth Rhybuddion Argyfwng",
            "href": "/alerts/operator-testing.cy"
          },
          {
            "text": "Optio allan o rybuddion argyfwng",
            "href": "/alerts/opting-out.cy"
          },
          {
            "text": "Porthiant",
            "href": "/alerts/feed_cy.atom"
          }
        ],
        "language": "cy"
      }) }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script async type="text/javascript" src="{{ '/alerts/assets/javascripts/relative-dates.js' | file_fingerprint }}"></script>
{% endblock %}
