
{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/banner.html" import banner, national_test_banner, planned_tests_banner -%}
{%- from "components/image.html" import image -%}
{%- from "components/example.html" import example -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Am Rybuddion Argyfwng" %}

{% block metaTags %}
  {{ metaTags(
    description="Your mobile phone or tablet may get an emergency alert if there’s a danger to life nearby. Alerts tell you what to do to stay safe.",
    title=pageTitle,
    url="https://www.gov.uk/alerts/about.cy"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ hmrcLanguageSelect({
        'language': 'cy',
        'en': {
          'href': '/alerts'
        }
      }) }}
    </div>
  </div>
  {% if alerts.current_and_public %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {{ banner(alerts.current_and_public | length, alerts.last_updated_date, lang='cy') }}
  {% elif alerts.dates_of_current_and_planned_test_alerts %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {{ planned_tests_banner(alerts.current_and_planned_test_alerts | length, alerts.dates_of_current_and_planned_test_alerts, lang='cy') }}
  {% elif alerts.dates_of_planned_public_test_alerts %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {{ national_test_banner(alerts.dates_of_planned_public_test_alerts, lang='cy') }}
  {% else %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m" id="subsection-title">
      There are no current alerts
    </h2>
  {% endif %}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Un o wasanaethau llywodraeth y DU yw Rybuddion Argyfwng a fydd yn eich rhybuddio pan fydd perygl i fywyd gerllaw.
      </p>
      <p class="govuk-body">
        Mewn argyfwng, caiff eich ffôn symudol neu'ch llechen rybudd â chyngor am sut i gadw'n ddiogel.
      </p>
      <div class="govuk-inset-text">
        Does dim angen i'r llywodraeth wybod eich rhif ffôn na'ch lleoliad er mwyn anfon rhybudd atoch.
      </div>
      <h2 class="govuk-heading-l">Rhesymau pam y gallech gael&nbsp;rhybudd</h2>
      <p class="govuk-body">
        Gallech gael rhybuddion am y canlynol:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          llifogydd difrifol
        </li>
        <li>
          tanau
        </li>
        <li>
          tywydd eithafol
        </li>
        <li>
          argyfyngau iechyd y cyhoedd
        </li>
      </ul>
      <p class="govuk-body">
        Anfonir rhybuddion argyfwng yn unig trwy:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          y gwasanaethau brys
        </li>
        <li>
          adrannau'r llywodraeth, asiantaethau a chyrff cyhoeddus sy'n ymdrin ag argyfyngau
        </li>
      </ul>
      <h2 class="govuk-heading-l">Beth sy'n digwydd pan gewch chi rybudd argyfwng</h2>
      <p class="govuk-body">
        Gallai eich ffôn symudol neu eich llechen:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          wneud sŵn uchel tebyg i seiren, hyd yn oed os yw ar osodiad tawel
        </li>
        <li>
          dirgrynu
        </li>
        <li>
          darllen y rhybudd yn uchel
        </li>
      </ul>
      <p class="govuk-body">
        Bydd y sŵn a'r dirgryniad yn parhau am ryw 10 eiliad.
      </p>
      <p class="govuk-body">
        Bydd rhybudd yn cynnwys rhif ffôn neu ddolen at wefan GOV.UK am ragor o wybodaeth.
      </p>
      <p class="govuk-body">
        Cewch chi ragor o rybuddion ar sail eich lleoliad presennol – nid ble rydych chi'n byw neu'n gweithio. Does dim angen i chi droi gwasanaethau lleoliad ymlaen i gael rhybuddion.
      </p>
      <div class="responsive-embed responsive-embed--16by9">
        <div class="responsive-embed__content">
          <iframe title="UK Emergency Alerts" width="560" height="315" src="https://www.youtube-nocookie.com/embed/jAhwoQoowKU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="govuk-!-padding-bottom-8"></div>
      <h2 class="govuk-heading-l">Beth mae angen i chi ei wneud</h2>
      <p class="govuk-body">
        Pan gewch chi rybudd, stopiwch beth rydych chi'n ei wneud a dilynwch y cyfarwyddiadau yn y rhybudd.
      </p>
      <h3 class="govuk-heading-m">Os ydych chi'n gyrru neu'n reidio pan gewch chi rybudd</h3>
      <p class="govuk-body">
        Dewch o hyd i le diogel i aros cyn defnyddio eich ffôn symudol neu'ch llechen Os oes gennych chi deithiwr, gofynnwch iddo/i ddarllen y rhybudd ar unwaith.
      </p>
      <div class="govuk-inset-text">
        Mae defnyddio dyfais llaw wrth yrru neu reidio yn erbyn y gyfraith.
      </div>
      <h2 class="govuk-heading-l">Os na allwch chi dderbyn rhybuddion argyfwng</h2>
      <p class="govuk-body">
        Os nad oes gennych chi <a class="govuk-link" href="/alerts/how-alerts-work.cy#compatible-devices">ddyfais gydweddol</a>, rhoddir gwybod o hyd i chi am argyfwng. Mae gan y gwasanaethau brys ffyrdd eraill o'ch rhybuddio pan fydd bygythiad i fywyd.
      </p>
      <div class="govuk-inset-text">
        Ni fydd rhybuddion argyfwng yn disodli newyddion lleol, radio, teledu na'r cyfryngau cymdeithasol.
      </div>
      <h2 class="govuk-heading-l">Os ydych chi'n fyddar, yn drwm eich clyw, yn ddall neu'n rhannol ddall</h2>
      <p class="govuk-body">
        Os oes gennych nam ar eich golwg neu'ch clyw, bydd signalau sylw sain a dirgrynu yn rhoi gwybod i chi fod gennych chi rybudd argyfwng.
      </p>
      <h2 class="govuk-heading-l">Ieithoedd y rhybuddion</h2>
      <p class="govuk-body">
        Anfonir rhybuddion argyfwng yn y Saesneg. Yng Nghymru, gellir hefyd eu hanfon yn y Gymraeg.
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "Sut mae'r rhybuddion argyfwng yn gweithio",
            "href": "/alerts/how-alerts-work.cy"
          },
          {
            "text": "Profion ar y gwasanaeth",
            "href": "/alerts/service-tests.cy"
          },
          {
            "text": "Rhybuddion ar hyn o bryd",
            "href": "/alerts/current-alerts.cy"
          },
          {
            "text": "Rhybuddion yn y gorffennol",
            "href": "/alerts/past-alerts.cy"
          }
        ],
        "language": "cy"
      }) }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script async type="text/javascript" src="{{ '/alerts/assets/javascripts/relative-dates.js' | file_fingerprint }}"></script>
{% endblock %}
