{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/banner.html" import banner, national_test_banner, service_tests_banner -%}
{%- from "components/image.html" import image -%}
{%- from "components/example.html" import example -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "About Emergency Alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="Your mobile phone or tablet may get an emergency alert if there’s a danger to life nearby. Alerts tell you what to do to stay safe.",
    title=pageTitle,
    url="https://www.gov.uk/alerts"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ hmrcLanguageSelect({
        'language': 'en',
        'cy': {
          'href': '/alerts/about.cy'
        }
      }) }}
    </div>
  </div>
  {% if alerts.current_and_public or alerts.dates_of_current_and_planned_test_alerts or alerts.dates_of_planned_test_alerts %}
    {% if alerts.current_and_public %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {{ banner(alerts.current_and_public | length, alerts.last_updated_date) }}
    {% endif %}
    {% if alerts.dates_of_planned_test_alerts %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {{ national_test_banner(alerts.dates_of_planned_test_alerts) }}
    {% endif %}
    {% if alerts.dates_of_current_and_planned_test_alerts %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {{ service_tests_banner(alerts.dates_of_current_and_planned_test_alerts | length, alerts.dates_of_current_and_planned_test_alerts) }}
    {% endif %}
  {% else %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m" id="subsection-title">
      There are no current alerts
    </h2>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endif %}

  <div class="govuk-inset-text" style="border-color: #00703c; background-color: #f3f2f1">
    <p class="govuk-body">
      <span class="gem-c-intervention__textwrapper">Help make GOV.UK better</span><br>
      <a class="govuk-link" href="https://surveys.publishing.service.gov.uk/s/A7XZXQ" target="_blank" rel="noopener noreferrer external">Take part in research about Emergency Alerts (opens in a new tab)</a>
    </p>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            Emergency Alerts is a UK government service that will warn you if there’s a danger to life nearby.
          </p>
          <p class="govuk-body">
            In an emergency, your mobile phone or tablet will receive an alert with advice about how to stay safe.
          </p>
          <div class="govuk-inset-text">
            The government does not need to know your phone number or location to send you an alert.
          </div>
          <h2 class="govuk-heading-l">Reasons you might get an&nbsp;alert</h2>
          <p class="govuk-body">
            You may get alerts about:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              severe flooding
            </li>
            <li>
              fires
            </li>
            <li>
              extreme weather
            </li>
          </ul>
          <p class="govuk-body">
            Emergency alerts will only be sent by:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              the emergency services
            </li>
            <li>
              government departments, agencies and public bodies that deal with emergencies
            </li>
          </ul>
          <h2 class="govuk-heading-l">What happens when you get an emergency alert</h2>
          <p class="govuk-body">
            Your mobile phone or tablet may:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              make a loud siren-like sound, even if it’s set on silent
            </li>
            <li>
              vibrate
            </li>
            <li>
              read out the alert
            </li>
          </ul>
          <p class="govuk-body">
            The sound and vibration will last for about 10 seconds.
          </p>
          <p class="govuk-body">
            An alert will include a phone number or a link to the GOV.UK website for more information.
          </p>
          <p class="govuk-body">
            You’ll get alerts based on your current location - not where you live or work. You do not need to turn on location services to receive alerts.
          </p>
          <div class="responsive-embed responsive-embed--16by9">
            <div class="responsive-embed__content">
              <iframe title="UK Emergency Alerts" width="560" height="315" src="https://www.youtube-nocookie.com/embed/MvZM-oCReu8" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="govuk-!-padding-bottom-8"></div>
          <h2 class="govuk-heading-l">What you need to do</h2>
          <p class="govuk-body">
            When you get an alert, stop what you’re doing and follow the instructions in the alert.
          </p>
          <h3 class="govuk-heading-m">If you’re driving or riding when you get an alert</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              You should not read or otherwise respond to an emergency alert whilst driving or riding a motorcycle.
            </li>
            <li>
              If you are driving, you should continue to drive and not respond to the noise or attempt to pick up the mobile phone and deal with the message.
            </li>
            <li>
              Find somewhere safe and legal to stop before reading the message. If there is nowhere safe or legal to stop close by, and nobody else is in the vehicle to read the alert, tune into live radio and wait for bulletins until you can find somewhere safe and legal to stop.
            </li>
          </ul>
          <div class="govuk-inset-text">
            It is illegal to use a hand-held device while driving or riding.
          </div>
          <h2 class="govuk-heading-l">If you cannot receive emergency alerts</h2>
          <p class="govuk-body">
            If you do not have a <a class="govuk-link" href="/alerts/how-alerts-work#compatible-devices">compatible device</a>, you’ll still be informed about an emergency. The emergency services have other ways to warn you when there is a threat to life.
          </p>
          <div class="govuk-inset-text">
            Emergency alerts will not replace local news, radio, television or social media.
          </div>
          <h2 class="govuk-heading-l">If you’re deaf, hard of hearing, blind or partially sighted</h2>
          <p class="govuk-body">
            If you have a vision or hearing impairment, audio and vibration attention signals will let you know you have an emergency alert.
          </p>
          <h2 class="govuk-heading-l">Alert languages</h2>
          <p class="govuk-body">
            Emergency alerts will be sent in English. In Wales, they may also be sent in Welsh.
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          {{ related_content({
            "items": [
              {
                "text": "How emergency alerts work",
                "href": "/alerts/how-alerts-work"
              },
              {
                "text": "Service tests",
                "href": "/alerts/service-tests"
              },
              {
                "text": "Current alerts",
                "href": "/alerts/current-alerts"
              },
              {
                "text": "Past alerts",
                "href": "/alerts/past-alerts"
              }
            ]
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script async type="text/javascript" src="{{ '/alerts/assets/javascripts/relative-dates.js' | file_fingerprint }}"></script>
{% endblock %}
