{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}
{%- from "components/meta_tags.html" import metaTags -%}

{% set pageTitle = "How to opt out of emergency alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="How to turn off emergency alerts on Android phones and tablets, and iPhones",
    title=pageTitle,
    url="https://www.gov.uk/alerts/opt-out"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How to opt out of emergency alerts
      </h1>
      <p class="govuk-body">
        You can opt out of emergency alerts, but you should keep them switched on for your own safety.
      </p>
      <p class="govuk-body">
        You cannot opt out by subject, only by how serious the emergency is. If you opt out because you do not want flood warnings, for example, you might miss alerts for fires and extreme weather.
      </p>
      <p class="govuk-body">
        To opt out:
      </p>
      <ul class="govuk-list govuk-list--number">
        <li>
          Search your settings for ‘emergency alerts’
        </li>
        <li>
          Turn off ‘severe alerts’ and ‘extreme alerts’.
        </li>
      </ul>
      <p class="govuk-body">
        If you still get alerts, contact your device manufacturer for help.
      </p>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}"></script>
{% endblock %}
