{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Opting out of emergency alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="Opting out of emergency alerts",
    title=pageTitle,
    url="https://www.gov.uk/alerts/opting-out"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row govuk-subheader">
    <div class="govuk-breadcrumbs">
      {{ govukBreadcrumbs({
        "items": [
          {
            "text": "Home",
            "href": "https://www.gov.uk/"
          },
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          }
        ]
      }) }}
    </div>
    <div class="govuk-separator"></div>
    <div class="govuk-language-select">
      {{ hmrcLanguageSelect({
        'language': 'en',
        'cy': {
          'href': '/alerts/opting-out.cy'
        }
      }) }}
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        You can opt out of emergency alerts, but you should keep them switched on for your own safety. If you still get alerts after opting out, contact your device manufacturer for help.
      </p>
      <div class="govuk-inset-text">
        There’s a different way to <a class="govuk-link" href="/alerts/operator-testing#opt-out">opt out of operator test alerts</a>.
      </div>
      <h3 class="govuk-heading-l">
        iPhones and Android phones
      </h3>
      <p class="govuk-body" id="opt-out">
        To opt out:
      </p>
      <ol class="govuk-list govuk-list--bullet">
        <li>Search your settings for ‘emergency alerts’.</li>
        <li>Turn off ‘severe alerts’ and ‘extreme alerts’.</li>
      </ol>
      <h3 class="govuk-heading-l">
        Other mobile phones
      </h3>
      <p class="govuk-body">
        Depending on the manufacturer and software version of your phone, emergency alerts settings may be called different names, such as ‘wireless emergency alerts’ or ‘emergency broadcasts’.
      </p>
      <p class="govuk-body">
        The settings can usually be found in one of the following ways. Go to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          ‘message’, then ‘message settings, then ‘wireless emergency alerts’, then ‘alert’
        </li>
        <li>
          ‘settings’, then ‘sounds’, then ‘advanced’, then ‘emergency broadcasts’
        </li>
        <li>
          ‘settings’, then ‘general settings’, then ‘emergency alerts’
        </li>
      </ul>
      <p class="govuk-body">
        Then turn off ‘severe alerts’, ‘extreme alerts’ and ‘test alerts’.
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          },
          {
            "text": "How emergency alerts work",
            "href": "/alerts/how-alerts-work"
          },
          {
            "text": "Current alerts",
            "href": "/alerts/current-alerts"
          },
          {
            "text": "Past alerts",
            "href": "/alerts/past-alerts"
          },
          {
            "text": "Operator testing",
            "href": "/alerts/operator-testing"
          },
          {
            "text": "Public testing",
            "href": "/alerts/public-testing"
          },
          {
            "text": "Feed",
            "href": "/alerts/feed.atom"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
