{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/alert.html" import alert -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Past alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="A list of past emergency alerts that were sent in the UK",
    title=pageTitle,
    url="https://www.gov.uk/alerts/past-alerts"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row govuk-subheader">
    <div class="govuk-breadcrumbs">
      {{ govukBreadcrumbs({
        "items": [
          {
            "text": "Home",
            "href": "https://www.gov.uk/"
          },
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          }
        ]
      }) }}
    </div>
    <div class="govuk-separator"></div>
    <div class="govuk-language-select">
      {{ hmrcLanguageSelect({
        'language': 'en',
        'cy': {
          'href': '/alerts/past-alerts.cy'
        }
      }) }}
    </div>
    </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
      <div class="govuk-inset-text">
        Emergency Alerts can be written in English or Welsh
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for _date, past_alerts in alerts.past_alerts_grouped_by_date | sort(reverse=True) %}
        {% set date_loop = loop %}
        {% for past_alert in past_alerts | sort(reverse=True) %}
          {% if loop.first %}
            <h2 class="govuk-heading-m {% if not date_loop.first %}govuk-!-margin-top-9{% endif %}">
              {{ past_alert.starts_at_date.date_as_lang }}
            </h2>
          {% endif %}
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          {{ alert(alert=past_alert, heading_level=3) }}
        {% endfor %}
        {% if loop.last %}
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        {% endif %}
      {% else %}
        <p class="govuk-body">There are no past emergency alerts.</p>
      {% endfor %}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          },
          {
            "text": "How emergency alerts work",
            "href": "/alerts/how-alerts-work"
          },
          {
            "text": "Current alerts",
            "href": "/alerts/current-alerts"
          },
          {
            "text": "Testing the Emergency Alerts service",
            "href": "/alerts/system-testing"
          },
          {
            "text": "Feed",
            "href": "/alerts/feed.atom"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
