{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Planned tests" %}

{% block metaTags %}
  {{ metaTags(
    description="Planned tests of the Emergency Alerts service",
    title=pageTitle,
    url="https://www.gov.uk/alerts/planned-tests"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
      {% for alert_or_planned_test in alerts.current_and_planned_test_alerts|sort %}
      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        {{ alert_or_planned_test.starts_at_date.date_as_lang }}
      </h2>
      {#
        Only planned tests have a description – for real alerts we show
        fixed content (below).
      #}
      {% if alert_or_planned_test.description %}
        {% if alert_or_planned_test.display_areas %}
          <h3 class="govuk-body govuk-!-margin-bottom-6">
            <span class="govuk-visually-hidden">Planned test will be sent to </span>{{ alert_or_planned_test.display_areas | formatted_list(before_each='', after_each='') }}
          </h3>
        {% endif %}
        {{ alert_or_planned_test.description | paragraphize(classes="govuk-body") }}
      {% else %}
      <p class="govuk-body">
        Some mobile phone networks in the UK will test emergency alerts.
      </p>
      <p class="govuk-body">
        Most phones and tablets will not get a test alert.
      </p>
      <p class="govuk-body">
        Find out more <a class="govuk-link" href="/alerts/mobile-network-operator-tests">about mobile network operator tests</a>.
      </p>
      <p class="govuk-body">
        The alert will say:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          This is a mobile network operator test of the Emergency Alerts service. You do not need to take any action. To find out more, search for gov.uk/alerts
        </p>
      </div>
      {% endif %}
      {% else %}
      <p class="govuk-body">
        There are currently no planned tests of emergency alerts.
      </p>
      <p class="govuk-body">
        You can see previous tests on the <a class="govuk-link" href="/alerts/past-alerts">past alerts page</a>.
      </p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
