{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Privacy notice: How we use your data" %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "https://www.gov.uk/"
      },
      {
        "text": "About Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
      <p class="govuk-body-metadata">
        Last updated 24 May 2023
      </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Who we are
      </h2>
      <p class="govuk-body">
        GOV.UK Emergency Alerts is a service that lets public sector teams in the UK send alerts if there’s a danger to life.
      </p>
      <p class="govuk-body">
        GOV.UK Emergency Alerts is provided by the Government Digital Service (GDS) which is part of the Cabinet Office.
      </p>
      <p class="govuk-body">
        Organisations sending alerts using GOV.UK Emergency Alerts are the data controller and Cabinet Office is the data processor. The data controller must tell you what they’re doing with your personal data.
      </p>
      <p class="govuk-body">
        For the credentials used to access GOV.UK Emergency Alerts, Cabinet Office is the data controller.
      </p>
      <p class="govuk-body">
        For more information see the Information Commissioner’s Office (ICO) <a class="govuk-link" href="https://ico.org.uk/esdwebpages/search">Data Protection Public Register</a>. The Cabinet Office registration number is: Z7414053.
      </p>
      <h2 class="govuk-heading-m" id="what-data-we-collect-from-you">
        What data we collect from you
      </h2>
      <p class="govuk-body">
        The personal data we collect from public sector employees that create a GOV.UK Emergency Alerts account includes:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name</li>
        <li>your email address</li>
        <li>your mobile phone number</li>
        <li>the IP address you use to access GOV.UK Emergency Alerts</li>
      </ul>
      <p class="govuk-body">
        The legal basis for processing this data is ‘public task’ – allowing you to access GOV.UK Emergency Alerts to send alerts to the public.
      </p>
      <h2 class="govuk-heading-m" id="why-we-need-your-data">
        Why we need your data
      </h2>
      <p class="govuk-body">
        We need your personal data to make sure only approved users of GOV.UK Emergency Alerts can use it to send alerts.
      </p>
      <h2 class="govuk-heading-m" id="what-we-do-with-your-data">
        What we do with your data
      </h2>
      <p class="govuk-body">
        We use your data to check that you are allowed to access GOV.UK Emergency Alerts and to record your activity when using it. We use third party suppliers to do this.
      </p>
      <p class="govuk-body">
        We will not:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sell or rent your data to third parties</li>
        <li>share your data with third parties for marketing purposes</li>
      </ul>
      <p class="govuk-body">
        We will share your data if we are required to do so by law, for example, by court order, or to prevent fraud or other crime.
      </p>
      <h2 class="govuk-heading-m" id="how-long-we-keep-your-data">
        How long we keep your data
      </h2>
      <p class="govuk-body">
        We’ll keep your personal data for as long as you have a GOV.UK  Emergency Alerts account.
      </p>
      <p class="govuk-body">
        When you ask us to close your account, we will delete your data within 1 year.
      </p>
      <p class="govuk-body">
        When we close your account we’ll delete your:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>mobile phone number</li>
        <li>GOV.UK Emergency Alerts password</li>
      </ul>
      <p class="govuk-body">
        So we can carry out security audits, we’ll keep your email address and IP addresses for 1 year before we delete them.
      </p>
      <p class="govuk-body">
        We will delete anonymised feedback data after 1 year.
      </p>
      <h2 class="govuk-heading-m" id="where-your-data-is-processed-and-stored">
        Where your data is processed and stored
      </h2>
      <p class="govuk-body">
        We design, build and run our systems to make sure that your data is safe at any stage, both while it’s processed and when it’s stored.
      </p>
      <p class="govuk-body">
        Your personal data will only be processed in the UK and is safeguarded through <a class="govuk-link" href="https://ico.org.uk/for-organisations/dp-at-the-end-of-the-transition-period/data-protection-and-the-eu-in-detail/adequacy/">adequacy decisions</a>.
      </p>
      <h2 class="govuk-heading-m" id="how-we-protect-your-data-and-keep-it-secure">
        How we protect your data and keep it secure
      </h2>
      <p class="govuk-body">
        We are committed to doing all that we can to keep your data secure. To prevent unauthorised access or disclosure we have put in place technical and organisational procedures to secure the data we collect about you, for example, we protect your data using encryption. We also make sure any third parties that we deal with have an obligation to keep all personal data they process on our behalf secure.
      </p>
      <h2 class="govuk-heading-m" id="childrens-privacy-protection">
        Children’s privacy protection
      </h2>
      <p class="govuk-body">
        We understand the importance of protecting children’s privacy online. Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about anyone under the age of 13.
      </p>
      <h2 class="govuk-heading-m" id="what-are-your-rights">
        What are your rights
      </h2>
      <p class="govuk-body">
        You have the right to request:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information about how your personal data is processed</li>
        <li>a copy of that personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
        <li>that anything inaccurate in your personal data is corrected immediately</li>
      </ul>
      <p class="govuk-body">
        You can also:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>raise an objection about how your personal data is processed</li>
        <li>request that your personal data is deleted if there is no longer a justification for it</li>
        <li>ask that the processing of your personal data is restricted in certain circumstances</li>
      </ul>
      <p class="govuk-body">
        If you have any of these requests, contact the Cabinet Office Data Protection Officer.
      </p>
      <h2 class="govuk-heading-m" id="changes-to-this-notice">
        Changes to this notice
      </h2>
      <p class="govuk-body">
        We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data.
      </p>
      <h2 class="govuk-heading-m" id="questions-and-complaints">
        Questions and complaints
      </h2>
      <p class="govuk-body">
        Contact the Cabinet Office Privacy Team if you either:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have questions about anything in this privacy notice</li>
        <li>think that your personal data has been misused or mishandled</li>
      </ul>
      <p class="govuk-body">
        Cabinet Office Privacy Team<br>
        <a class="govuk-link" href="mailto:subject.access@cabinetoffice.gov.uk">subject.access@cabinetoffice.gov.uk</a>
      </p>
      <p class="govuk-body">
        You can also contact the Cabinet Office Data Protection Officer.
      </p>
      <p class="govuk-body">
        Cabinet Office<br>
        70 Whitehall<br>
        London<br>
        SW1A 2AS<br>
        Email: <a class="govuk-link" href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a>
      </p>
      <p class="govuk-body">
        If you have a complaint, you can also contact the <a class="govuk-link" href="https://ico.org.uk/">Information Commissioner's Office</a> (ICO). The ICO is an independent regulator set up to uphold information rights.
      </p>
      <p class="govuk-body">
        Information Commissioner's Office<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire<br>
        SK9 5AF
      </p>
      <p class="govuk-body">
        Email: <a class="govuk-link" href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
        Telephone: 0303 123 1113<br>
        Textphone: 01625 545860<br>
        Monday to Friday, 9am to 4:30pm<br>
        <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          },
          {
            "text": "How emergency alerts work",
            "href": "/alerts/how-alerts-work"
          },
          {
            "text": "Current alerts",
            "href": "/alerts/current-alerts"
          },
          {
            "text": "Past alerts",
            "href": "/alerts/past-alerts"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
