{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Emergency Alerts privacy notice" %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "About Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        This privacy notice relates to the:
      </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Emergency Alerts service</li>
          <li>gov.uk/alerts website</li>
          <li>user feedback about the Emergency Alerts service and guidance</li>
        </ul>
      <p class="govuk-body">
        It explains what personal data we collect and what we do with it. It also explains your rights and how to enforce them.
      </p>
      <h2 class="govuk-heading-m">
        Who manages this service
      </h2>
      <p class="govuk-body">
        The joint controllers for the Emergency Alerts service are the <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-digital-culture-media-sport">
        Department for Digital, Culture, Media &amp; Sport</a> (DCMS) and the <a class="govuk-link" href="https://www.gov.uk/government/organisations/cabinet-office">Cabinet Office</a> COBR Unit.
      </p>
      <p class="govuk-body">
        The Emergency Alerts service is provided by the <a class="govuk-link" href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a> (GDS) working with partners across central government, local government and mobile network operators.
      </p>
      <p class="govuk-body">
        The Cabinet Office is the data controller for any personal data processed on gov.uk/alerts and the feedback survey.
      </p>
      <p class="govuk-body">
        A data controller decides how and why personal data is processed. For more information, read the Cabinet Office’s entry in the  <a class="govuk-link" href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">Data Protection Public Register.</a>
      </p>
      <h2 class="govuk-heading-m" id="what-personal-data-we-collect">
        What personal data we collect
      </h2>
      <h3 class="govuk-heading-s" id="emergency-alerts">
        From the Emergency Alerts service
      </h3>
      <p class="govuk-body">
        Emergency alerts are broadcast from mobile phone masts to every compatible phone and tablet within range. The sender does not need to know your mobile phone number or any other personal data to send you an alert.
      </p>
      <p class="govuk-body">
        No one will collect or share data about you, your phone or your location when you receive an emergency alert.
      </p>
      <h3 class="govuk-heading-s" id="gov-uk-alerts">
        From gov.uk/alerts
      </h3>
      <p class="govuk-body">
        When you visit gov.uk/alerts, we collect your Internet Protocol (IP) address, and details of which operating system and <a class="govuk-link" href="https://www.gov.uk/support/browsers">web browser</a> you used.
      </p>
      <p class="govuk-body">
        We do not use cookies or page tagging to collect information about how you use the site.
      </p>
      <h3 class="govuk-heading-s" id="feedback-survey">
        From user feedback
      </h3>
      <p class="govuk-body">
        Emergency Alerts is a new UK government service and we'll be collecting anonymised user feedback to improve it.
      </p>
      <p class="govuk-body">
        An anonymous survey and user feedback ask questions about your:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>experience of receiving an emergency alert</li>
        <li>opinion on the Emergency Alerts guidance</li>
      </ul>
      <p class="govuk-body">
        The questions do not ask you for personal information. We will not process data that could be used to identify you, such as your name, address or phone number.
      </p>
      <h2 class="govuk-heading-m" id="our-legal-basis-for-processing-your-data">
        Our legal basis for processing your data
      </h2>
      <p class="govuk-body">
        As we’re not processing your personal data, the basis for sending emergency alerts is that they're in the public interest.
      </p>
      <p class="govuk-body">
        However, the <a class="govuk-link" href="https://www.legislation.gov.uk/uksi/2003/2426/regulation/16A">
        Privacy and Electronic Communications Regulations (PECR) 2003</a> also apply.
      </p>
      <p class="govuk-body">
        The PECR says that some public authorities can ask mobile network operators to send an emergency alert if an emergency:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>has happened</li>
        <li>is happening</li>
        <li>is about to happen</li>
      </ul>
      <p class="govuk-body">
        An ‘emergency’ is defined in <a class="govuk-link" href="https://www.legislation.gov.uk/ukpga/2004/36/part/1">part 1 of the Civil Contingencies Act 2004</a>. For more information, read <a class="govuk-link" href="/alerts/how-alerts-work">how emergency alerts work</a>.
      </p>
      <h2 class="govuk-heading-m" id="why-we-need-your-data">
        Why we need your data
      </h2>
      <p class="govuk-body">
        We do not require or need to process your personal data for Emergency Alerts.
      </p>
      <h2 class="govuk-heading-m" id="what-we-do-with-your-data">
        What we do with your data
      </h2>
      <p class="govuk-body">
        We may share anonymised data about visits to gov.uk/alerts with other government departments, agencies and public bodies.
      </p>
      <p class="govuk-body">
        We may also share anonymised data with our technology suppliers, for example, our hosting provider and the mobile network operators.
      </p>
      <p class="govuk-body">
        We will not:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sell or rent your data to third parties</li>
        <li>share your data with third parties for marketing purposes</li>
        <li>use your data in analytics</li>
      </ul>
      <p class="govuk-body">
        We will share your data if we are required to do so by law – for example, by court order or to prevent fraud or other crime.
      </p>
      <h2 class="govuk-heading-m" id="how-long-we-keep-your-data">
        How long we keep your data
      </h2>
      <p class="govuk-body">
        For the Emergency Alerts service and gov.uk/alerts webpages, there is no data processing undertaken and, therefore, no retention of data.
      </p>
      <p class="govuk-body">
        We will delete anonymised feedback survey data after 1 year.
      </p>
      <h2 class="govuk-heading-m" id="childrens-privacy-protection">
        Children’s privacy protection
      </h2>
      <p class="govuk-body">
        Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. We will not be collecting or maintaining data about anyone.
      </p>
      <h2 class="govuk-heading-m" id="where-your-data-is-processed">
        Where your data is processed and stored
      </h2>
      <p class="govuk-body">
        No personal data is collected or stored for the Emergency Alerts service.
      </p>
      <h2 class="govuk-heading-m" id="how-we-protect-your-data">
        How we protect your data and keep it secure
      </h2>
      <p class="govuk-body">
        We are not collecting your data for the Emergency Alerts service
      </p>
      <h2 class="govuk-heading-m" id="your-rights">
        Your rights
      </h2>
      <p class="govuk-body">
        You can <a class="govuk-link" href="/alerts/how-alerts-work#opt-out">opt out</a> of emergency alerts at any time.
      </p>
      <p class="govuk-body">
        Your personal data is not processed for this service.
      </p>
      <h2 class="govuk-heading-m" id="links-to-other-websites">
        Links to other websites
      </h2>
      <p class="govuk-body">
        This privacy notice only applies to the Emergency Alerts service, gov.uk/alerts webpages and user feedback.
      </p>
      <p class="govuk-body">
        It does not cover:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the rest of the GOV.UK domain</li>
        <li>other government services and transactions</li>
        <li>any other websites that we link to</li>
      </ul>
      <p class="govuk-body">
        Other government services have their own terms and conditions and privacy policies.
      </p>
      <p class="govuk-body">
        If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.
      </p>
      <h2 class="govuk-heading-m" id="contact-us">
        Contact us or make a complaint
      </h2>
      <p class="govuk-body">
        If you have a question or complaint, you can contact the Cabinet Office Privacy Team, Cabinet Office Data Protection Officer or the Information Commissioner.
      </p>
      <h2 class="govuk-heading-m" id="privacy-team">
        Cabinet Office Privacy Team
      </h2>
      <p class="govuk-body">
        Email the Cabinet Office Privacy Team if you:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a question about anything in this privacy notice</li>
        <li>think that your personal data has been misused or mishandled</li>
      </ul>
      <div class="address">
        <p class="govuk-body">
          CO Privacy Team<br>
          <a class="govuk-link" href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk" data-hsupport="email">subject.access@cabinetoffice.gov.uk</a>
        </p>
      </div>
      <h2 class="govuk-heading-m" id="data-protection-officer">
        Data Protection Officer (DPO)
      </h2>
      <p class="govuk-body">
        You can also write to or email the Cabinet Office Data Protection Officer.
      </p>
      <div class="address">
        <p class="govuk-body">
          Cabinet Office<br>
          70 Whitehall<br>
          London<br>
          SW1A 2AS<br>
          Email: <a class="govuk-link" href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a><br>
        </p>
      </div>
      <p class="govuk-body">
        The DPO provides independent advice and monitoring of our use of personal information.
      </p>
      <h2 class="govuk-heading-m" id="information-officer">
        Information Commissioner
      </h2>
      <p class="govuk-body">
        You can also make a complaint to the Information Commissioner, who is an independent regulator.
      </p>
      <div class="address">
        <p class="govuk-body">
          Information Commissioner's Office<br>
          Wycliffe House<br>
          Water Lane<br>
          Wilmslow<br>
          Cheshire<br>
          SK9 5AF<br>
          Email: <a class="govuk-link" href="casework@ico.org.uk">casework@ico.org.uk</a><br>
          Telephone: 0303 123 1113<br>
          Textphone: 01625 545860<br>
          Monday to Friday, 9am to 4:30pm<br>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a><br>
        </p>
      </div>
      <h2 class="govuk-heading-m" id="changes-to-this-policy">
        Changes to this policy
      </h2>
      <p class="govuk-body">
        We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy policy will apply to you and your data immediately.
      </p>
      <p class="govuk-body">
        If these changes affect how your personal data is processed, GDS will take reasonable steps to let you know.
      </p>
      <p class="govuk-body">
        Last updated March 2023.
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          },
          {
            "text": "How emergency alerts work",
            "href": "/alerts/how-alerts-work"
          },
          {
            "text": "Service tests",
            "href": "/alerts/service-tests"
          },
          {
            "text": "Current alerts",
            "href": "/alerts/current-alerts"
          },
          {
            "text": "Past alerts",
            "href": "/alerts/past-alerts"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
