{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/alert.html" import alert -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Public testing of the Emergency Alerts system" %}

{% block metaTags %}
  {{ metaTags(
    description="About emergency alerts service testing",
    title=pageTitle,
    url="https://www.gov.uk/alerts/public-testing"
  ) }}
{% endblock %}


{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row govuk-subheader">
    <div class="govuk-breadcrumbs">
      {{ govukBreadcrumbs({
        "items": [
          {
            "text": "Home",
            "href": "https://www.gov.uk/"
          },
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          }
        ]
      }) }}
    </div>
    <div class="govuk-separator"></div>
    <div class="govuk-language-select">
      {{ hmrcLanguageSelect({
        'language': 'en',
        'cy': {
          'href': '/alerts/public-testing.cy'
        }
      }) }}
    </div>
    </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
          Upcoming national test on 7 September 2025
      </h2>
      <p class="govuk-body">
        The government will be carrying out a national test of the UK Emergency Alerts system on <strong>7 September 2025 at 3pm</strong>.
      </p>
      <p class="govuk-body">
        The test alert will be sent to all compatible 4G and 5G mobile phones and compatible tablets across the UK.
      </p>
      <p class="govuk-body">
        This follows the first successful national test in April 2023.
      </p>
      <p class="govuk-body">
        Information about the upcoming national test is available in <a class="govuk-link" href="/alerts/opting-out" rel="noreferrer noopener" target="_blank">British Sign Language (BSL) and Easy Read formats.</a>
      </p>
      <h2 class="govuk-heading-l">
          Why the test is taking place
      </h2>
      <p class="govuk-body">
        Regular testing ensures the system is functioning correctly, should it be needed in an emergency.
      </p>
      <p class="govuk-body">
        The test is not intended to alert you to real danger and you will not need to take any further action.
      </p>
      <h2 class="govuk-heading-l">
          What the test will look and sound like
      </h2>
      <p class="govuk-body">
        An emergency alert looks and sounds very different to other types of messages you might receive on your phone. You’ll hear a loud, siren-like sound and your phone or tablet will vibrate.
      </p>
      <p class="govuk-body">
        If you have a vision or hearing impairment, audio and vibration attention signals will let you know you have received the test.
      </p>
      <h2 class="govuk-heading-l">
          Opt out of the test
      </h2>
      <p class="govuk-body">
        You can opt out of emergency alerts, including the national test, but you should keep them switched on for your own safety. Learn more about how to <a class="govuk-link" href="/alerts/opting-out">opt out of emergency alerts</a>.
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          },
          {
            "text": "How emergency alerts work",
            "href": "/alerts/how-alerts-work"
          },
          {
            "text": "Current alerts",
            "href": "/alerts/current-alerts"
          },
          {
            "text": "Past alerts",
            "href": "/alerts/past-alerts"
          },
          {
            "text": "Operator testing",
            "href": "/alerts/operator-testing"
          },
          {
            "text": "Opting out of emergency alerts",
            "href": "/alerts/opting-out"
          },
          {
            "text": "Feed",
            "href": "/alerts/feed.atom"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}