{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/alert.html" import alert -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Profi cyhoeddus y system Rhybuddion Argyfwng" %}

{% block metaTags %}
  {{ metaTags(
    description="About emergency alerts service testing",
    title=pageTitle,
    url="https://www.gov.uk/alerts/public-testing.cy"
  ) }}
{% endblock %}


{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row govuk-subheader">
    <div class="govuk-breadcrumbs">
      {{ govukBreadcrumbs({
        "items": [
          {
            "text": "Hafan",
            "href": "https://www.gov.uk/"
          },
          {
            "text": "Am Rybuddion Argyfwng",
            "href": "/alerts/about.cy"
          }
        ]
      }) }}
    </div>
    <div class="govuk-separator"></div>
    <div class="govuk-language-select">
      {{ hmrcLanguageSelect({
        'language': 'cy',
        'en': {
          'href': '/alerts/public-testing'
        }
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
          Prawf cenedlaethol ar ddod ar 7 Medi 2025
      </h2>
      <p class="govuk-body">
        <a class="govuk-link" href="/alerts/announcements.cy">
        Bydd y llywodraeth yn cynnal prawf cenedlaethol o system Rhybuddion Argyfwng y DU ar <strong>7 Medi 2025 am 3yh</strong>.
        </a>
      </p>
      <p class="govuk-body">
        Anfonir y rhybudd -prawf at bob ffôn symudol 4G a 5G cydweddol a thabledi cydweddol ledled y DU.
      </p>
      <p class="govuk-body">
        Mae hyn yn dilyn y prawf cenedlaethol llwyddiannus cyntaf ym mis Ebrill 2023.
      </p>
      <p class="govuk-body">
        Mae gwybodaeth am y prawf cenedlaethol sydd ar ddod ar gael mewn <a class="govuk-link" href="https://www.gov.uk/guidance/emergency-alerts-test-7-september-accessible-materials" rel="noreferrer noopener" target="_blank">fformatau Iaith Arwyddion Prydain (BSL) a Darllen Hawdd.</a>
      </p>
      <h2 class="govuk-heading-l">
          Pam fod y prawf yn cymryd lle
      </h2>
      <p class="govuk-body">
        Mae profi rheolaidd yn sicrhau bod y system yn gweithredu’n gywir, pe bai ei hangen mewn argyfwng.
      </p>
      <p class="govuk-body">
        Ni fwriedir i’r prawf eich hysbysu o berygl go iawn ac ni fydd rhaid i chi gymryd unrhyw gamau pellach.
      </p>
      <h2 class="govuk-heading-l">
          Sut bydd y prawf yn edrych ac yn swnio
      </h2>
      <p class="govuk-body">
        Mae hysbysiad argyfwng yn edrych ac yn swnio’n dra gwahanol i fathau eraill o negeseuon y gallwch eu cael ar eich ffôn. Byddwch yn clywed sŵn uchel, tebyg i seiren a bydd eich ffôn yn dirgrynu.
      </p>
      <p class="govuk-body">
        Os oes gennych nam ar eich golwg neu'ch clyw, bydd signalau sylw sain a dirgrynu yn rhoi gwybod i chi eich bod wedi cael y prawf.
      </p>
      <h2 class="govuk-heading-l">
          Optio allan o’r prawf
      </h2>
      <p class="govuk-body">
        Gallwch optio allan o rybuddion argyfwng, gan gynnwys y prawf cenedlaethol, ond dylech eu cadw ymlaen er eich diogelwch eich hun. Dysgwch fwy am sut i <a class="govuk-link" href="/alerts/opting-out.cy">optio allan o rybuddion argyfwng</a>.
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "Am Rybuddion Argyfwng",
            "href": "/alerts/about.cy"
          },
          {
            "text": "Sut mae'r rhybuddion argyfwng yn gweithio",
            "href": "/alerts/how-alerts-work.cy"
          },
          {
            "text": "Rhybuddion ar hyn o bryd",
            "href": "/alerts/current-alerts.cy"
          },
          {
            "text": "Rhybuddion yn y gorffennol",
            "href": "/alerts/past-alerts.cy"
          },
          {
            "text": "Profion gweithredwyr",
            "href": "/alerts/operator-testing.cy"
          },
          {
            "text": "Optio allan o rybuddion argyfwng",
            "href": "/alerts/opting-out.cy"
          },
          {
            "text": "Porthiant",
            "href": "/alerts/feed_cy.atom"
          }
        ],
        "language": "cy"
      }) }}
    </div>
  </div>
{% endblock %}
