{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/alert.html" import alert -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Profi'r gwasanaeth Rhybuddion Argyfwng" %}

{% block metaTags %}
  {{ metaTags(
    description="About Emergency Alerts System testing",
    title=pageTitle,
    url="https://www.gov.uk/alerts/system-testing.cy"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
<div class="govuk-grid-row" style="display: flex; align-items: center; padding: 0 15px;">
  <div style="margin-right: 10px;">
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "https://www.gov.uk/"
      },
      {
        "text": "Am Rybuddion Argyfwng",
        "href": "/alerts/about.cy"
      }
    ]
  }) }}
</div>
<div style="flex-grow: 1;"></div>
<div style="margin-left: 10px;">
  {{ hmrcLanguageSelect({
    'language': 'cy',
    'en': {
      'href': '/alerts/system-testing'
    }
  }) }}
</div>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ hmrcLanguageSelect({
        'language': 'cy',
        'en': {
          'href': '/alerts/system-testing'
        }
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if alerts.test_alerts_today_grouped %}
        {% for _date, alerts_or_planned_tests in alerts.test_alerts_today_grouped | sort %}
          {% set date_loop = loop %}
          {{ planned_tests_by_date(date_loop, alerts_or_planned_tests) }}
        {% endfor %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l">
          Profion gweithredwyr
        </h2>
      {% endif %}
      <p class="govuk-body">
        {% if alerts.planned_non_public_test_alerts %}
          {% for alert in alerts.planned_non_public_test_alerts|sort(attribute='starts_at_date') %}
            {% if loop.index == 1 %}
              {% if alert.welsh_summary %}
                {{ alert.welsh_summary }}
              {% else %}
                Yn dilyn prawf cenedlaethol llwyddiannus system Rhybuddion Argyfwng y DU ar 23 Ebrill 2023, bydd y llywodraeth a gweithredwyr rhwydweithiau symudol yn cynnal profion 'gweithredwr' achlysurol.
              {% endif %}
            {% endif %}
          {% endfor %}
        {% else %}
          Yn dilyn prawf cenedlaethol llwyddiannus system Rhybuddion Argyfwng y DU ar 23 Ebrill 2023, bydd y llywodraeth a gweithredwyr rhwydweithiau symudol yn cynnal profion 'gweithredwr' achlysurol.
        {% endif %}
      </p>
      <p class="govuk-body">
        Mae hyn er mwyn asesu gwelliannau sydd wedi'u gwneud i'r gwasanaeth Rhybuddion Argyfwng.
      </p>
      <p class="govuk-body">
        Gallwch gael y rhybudd hwn os oes gennych ffôn Android sydd â rhybuddion prawf gweithredwr wedi'u troi ymlaen.
      </p>
      <p class="govuk-body">
        Nid yw'r profion gweithredwr hyn yn eich rhybuddio am berygl gwirioneddol. Bydd gan y rhybuddion hyn 'weithredwr' bob amser yn y teitl a byddant yn cadarnhau nad oes angen gweithredu.
      </p>
      <p class="govuk-body">
        Os cewch rybudd prawf gweithredwr, gall eich ffôn wneud sain debyg i seiren uchel am tua 10 eiliad, oni bai ei fod ar ddull tawel.
      </p>
      <h2 class="govuk-heading-l">
        Optio allan o hysbysiadau prawf gweithredwr
      </h2>
      <p class="govuk-body">
        I atal derbyn rhybuddion profion gweithredwyr, chwiliwch osodiadau eich ffôn am 'rybuddion argyfwng' a diffoddwch 'rybuddion prawf' a 'rhybuddion gweithredwyr'.
      </p>
      <p class="govuk-body">
        Os na allwch weld rhybuddion neu hysbysiadau gan y gweithredwr:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          agorwch eich ap galw ffôn
        </li>
        <li>
          defnyddiwch y bysellbad i fynd i mewn *#*#2627#*#*
        </li>
        <li>
          chwiliwch eich gosodiadau am 'rybuddion argyfwng' a diffoddwch 'rybuddion prawf' a 'rhybuddion gweithredwyr'
        </li>
      </ul>
      <p class="govuk-body">
        Os ydych chi'n parhau i gael rhybuddion prawf gweithredwr, cysylltwch â'ch gwneuthurwr ffôn am help.
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "Am Rybuddion Argyfwng",
            "href": "/alerts/about.cy"
          },
          {
            "text": "Sut mae'r rhybuddion argyfwng yn gweithio",
            "href": "/alerts/how-alerts-work.cy"
          },
          {
            "text": "Rhybuddion ar hyn o bryd",
            "href": "/alerts/current-alerts.cy"
          },
          {
            "text": "Rhybuddion yn y gorffennol",
            "href": "/alerts/past-alerts.cy"
          }
        ],
        "language": "cy"
      }) }}
    </div>
  </div>
{% endblock %}

{% macro planned_tests_by_date(date_loop, alerts_or_planned_tests) %}
  {% for alert_or_planned_test in alerts_or_planned_tests | sort %}
    {% if not loop.first %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endif %}
    {% if loop.first %}
      <h2 class="govuk-heading-m {% if not date_loop.first %}govuk-!-margin-top-9{% endif %}">
        {{ alert_or_planned_test.starts_at_date.date_as_lang }}
      </h2>
    {% endif %}
    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      {% if alert_or_planned_test.is_public %}
        {{ alert_or_planned_test.display_areas | formatted_list(before_each='', after_each='') }}
      {% endif %}
    </h2>
    {% if not alert_or_planned_test.is_public %}
      <p class="govuk-body">
        Bydd prawf gwasanaeth ar system Rhybuddion Argyfwng y DU heddiw.
      </p>
      <p class="govuk-body">
        Ni chaiff y rhan fwyaf o ffonau symudol a llechi rybudd prawf.
      </p>
    {% endif %}
    <p class="govuk-body">
      Bydd y rhybudd yn dweud:
    </p>
    <div class="govuk-inset-text govuk-!-margin-top-2">
      {{ alert_or_planned_test.content | paragraphize(classes="govuk-body") }}
    </div>
  {% endfor %}
{% endmacro %}
