{% extends "content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja_overrides/templates/components/language-select/macro.html" import hmrcLanguageSelect -%}
{%- from "components/alert.html" import alert -%}
{%- from "components/meta_tags.html" import metaTags -%}
{%- from "components/related_content.html" import related_content -%}

{% set pageTitle = "Testing the Emergency Alerts service" %}

{% block metaTags %}
  {{ metaTags(
    description="About Emergency Alerts service testing",
    title=pageTitle,
    url="https://www.gov.uk/alerts/system-testing"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "About Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ hmrcLanguageSelect({
        'language': 'en',
        'cy': {
          'href': '/alerts/system-testing.cy'
        }
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        The government and mobile network operators occasionally carry out Emergency Alerts service tests across the UK.
      </p>
      <p class="govuk-body">
        You’ll only get service test alerts if you have an older Android phone or tablet with operator test alerts turned on.
      </p>
      <p class="govuk-body">
        Your device may make a loud siren-like sound for about 10 seconds. You do not need to take action.
      </p>
      <h2 class="govuk-heading-l">
        Opting out of service test alerts
      </h2>
      <p class="govuk-body">
        To opt out, turn off ‘test alerts’ in your settings. If you still get alerts, contact your device manufacturer for help.
      </p>
      <p class="govuk-inset-text">
        For most people, the chance of receiving a service test alert will be very low.
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ related_content({
        "items": [
          {
            "text": "About Emergency Alerts",
            "href": "/alerts"
          },
          {
            "text": "How emergency alerts work",
            "href": "/alerts/how-alerts-work"
          },
          {
            "text": "Current alerts",
            "href": "/alerts/current-alerts"
          },
          {
            "text": "Past alerts",
            "href": "/alerts/past-alerts"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
