repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: debug-statements
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    files: '(app|tests)/.*\.py'
    name: flake8 (python)
- repo: https://github.com/PyCQA/isort
  rev: 7.0.0
  hooks:
    - id: isort
      name: isort (python)
- repo: local
  hooks:
    - id: check-requirements
      name: check-requirements
      entry: ./scripts/check-requirements.sh
      language: script
