---
applications:
  - name: notify-govuk-alerts
    buildpacks:
    - python_buildpack

    routes:
      - route: notify-govuk-alerts-{{ environment }}.cloudapps.digital
    services:
      - logit-ssl-syslog-drain

    processes:
    - type: web
      command: celery -A run_celery.notify_celery worker --loglevel=INFO --concurrency=1 2> /dev/null

      health-check-type: process
      memory: 2G

    sidecars:
      - name: aws-logs
        process_types:
          - web
        command: >
          touch /home/vcap/logs/app.log.json &&
          aws configure set plugins.cwlogs cwlogs &&
          aws logs push --region eu-west-1 --config-file awslogs.conf
        memory: 64M

    env:
      # Logging and metrics
      LOGGING_STDOUT_JSON: '1'
      NOTIFY_ENVIRONMENT: '{{ environment }}'
      NOTIFY_LOG_PATH: '/home/vcap/logs/app.log'
      STATSD_HOST: "notify-statsd-exporter-{{ environment }}.apps.internal"

      # SQS
      NOTIFICATION_QUEUE_PREFIX: '{{ NOTIFICATION_QUEUE_PREFIX }}'
      AWS_ACCESS_KEY_ID: '{{ GOVUK_ALERTS_NOTIFY_AWS_ACCESS_KEY_ID }}'
      AWS_SECRET_ACCESS_KEY: '{{ GOVUK_ALERTS_NOTIFY_AWS_SECRET_ACCESS_KEY }}'

      # S3
      BROADCASTS_AWS_ACCESS_KEY_ID: '{{ GOVUK_ALERTS_BROADCASTS_AWS_ACCESS_KEY_ID }}'
      BROADCASTS_AWS_SECRET_ACCESS_KEY: '{{ GOVUK_ALERTS_BROADCASTS_AWS_SECRET_ACCESS_KEY }}'
      GOVUK_ALERTS_S3_BUCKET_NAME: '{{ GOVUK_ALERTS_S3_BUCKET_NAME }}'

      # Fastly
      FASTLY_SERVICE_ID: '{{ GOVUK_ALERTS_FASTLY_SERVICE_ID }}'
      FASTLY_API_KEY: '{{ GOVUK_ALERTS_FASTLY_API_KEY }}'

      # Notify API
      NOTIFY_API_HOST_NAME: '{{ API_HOST_NAME }}'
      NOTIFY_API_CLIENT_SECRET: '{{ GOVUK_ALERTS_NOTIFY_API_KEY }}'
