govuk-frontend-jinja==3.9.0
Jinja2==3.1.6
MarkupSafe==3.0.3
PyYAML==6.0.3
boto3==1.42.0
celery[sqs]==5.6.0
Flask==3.1.2
pycurl==7.45.7
notifications-python-client==10.0.1
requests==2.32.5
responses==0.25.8
Werkzeug==3.1.4
certifi==2025.11.12
pyjwt==2.10.1
feedgen==1.0.0
lxml==6.0.2

# Packages for testing
isort==7.0.0
flake8==7.3.0
freezegun==1.5.5
pytest==9.0.1
pytest-mock==3.15.1
beautifulsoup4==4.14.3
pytest-env==1.2.0
moto==5.1.18
