govuk-frontend-jinja==1.4.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyYAML==5.4.1
boto3==1.17.97
celery==5.1.2
Flask==1.1.2
git+https://github.com/alphagov/notifications-utils.git@44.2.0#egg=notifications-utils==44.r21.0
