govuk-frontend-jinja==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyYAML==5.4.1
boto3==1.17.97
Flask==1.1.2
Flask-HTTPAuth==4.2.0
git+https://github.com/alphagov/notifications-utils.git@44.2.0#egg=notifications-utils==44.r21.0
gds-metrics==0.2.4
gunicorn==20.1.0
