.alerts-image__container--centred {
  text-align: center;
}

.example__notch,
.example__container {
  background: #000
}

.example__container {
  border-radius: 18px 18px 0 0;
  padding: 4px 4px 0;
  margin: 0 auto;
  max-width: 307px
}

.example__edge {
  border: solid 2px #e6ecf3;
  border-bottom: none;
  border-radius: 14px 14px 0 0;
  padding: 12px 12px 0;
  background: transparent;
  text-align: center
}

.example__notch {
  position: relative;
  margin: 0 auto -12px;
  border-radius: 0 0 4px 4px;
  height: 12px;
  width: 55%
}

.example__screen {
  padding: 139px 12px 76px;
  border-radius: 6px 6px 0 0;
  background: #1f68ac;
  background: linear-gradient(-25deg, #1b70b8 0%, #094182 35%, #094182 65%, #1b70b8 100%)
}

.example__popup {
  border-radius: 6px;
  border: solid 1px #e6ecf3;
  padding: 14px;
  background: #e6ecf3;
  text-align: left;
  color: #000;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,arial,sans-serif;
  font-size: 21px
}

.example__popup__heading,.example__popup__body {
  margin: 0 0 10px
}

.example__popup__heading {
  padding-top: 8px;
  font-weight: bold;
  font-size: .9em
}

.example__popup__heading.alerts-icon__container {
  padding-left: 40px;
}

.example__popup__body {
  font-size: 21px
}

.example__alternative {
  display: none; // link to an image of the example but hide by default
}

.alerts-icon {
  position: absolute;
  left: 0
}

.alerts-icon--28 {
  top: 4px
}

.alerts-icon__container {
  position: relative
}
