{% extends "govuk_frontend_jinja/template.html" %}

{%- from "templates/components/survey.html" import survey -%}

{% block pageTitle %}{% block pageTitleCurrent %}{% endblock %} - GOV.UK{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ '/alerts/assets/images/favicon.ico' | file_fingerprint }}" type="image/x-icon" />
  <link rel="mask-icon" href="{{ '/alerts/assets/images/govuk-mask-icon.svg' | file_fingerprint }}" color="#0b0c0c"> {# Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/alerts/assets/images/govuk-apple-touch-icon-180x180.png' | file_fingerprint }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ '/alerts/assets/images/govuk-apple-touch-icon-167x167.png' | file_fingerprint }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ '/alerts/assets/images/govuk-apple-touch-icon-152x152.png' | file_fingerprint }}">
  <link rel="apple-touch-icon" href="{{ '/alerts/assets/images/govuk-apple-touch-icon.png' | file_fingerprint }}">
{% endblock %}

{% block head %}
  {% block metaTags %}{% endblock %}
  {# preload fonts to save the time it takes the browser to parse the CSS to find requests for them #}
  {%- for font in font_paths %}
  <link rel="preload" href="/{{ font }}" as="font" type="font/woff2" crossorigin>
  {%- endfor %}
  {# prefetch block for any files needed in future navigations - doesn't block resources for the current page #}
  {% block prefetch %}{% endblock %}
  <link media="print" href={{ "/alerts/assets/stylesheets/main-print.css" | file_fingerprint }} rel="stylesheet">
  <!--[if !IE 8]><!-->
  <link media="screen" href={{ "/alerts/assets/stylesheets/main.css" | file_fingerprint }} rel="stylesheet">
  <!--<![endif]-->
  <!--[if IE 8]>
  <link media="screen" href={{ "/alerts/assets/stylesheets/main-ie8.css" | file_fingerprint }} rel="stylesheet">
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/alerts/assets/javascripts/vendor/html5shiv/html5shiv.min.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    'assetsPath': '/alerts/assets/images'
  }) }}
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
  {{ survey() }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'navigation': [
      {
        'title': 'Emergency Alerts',
        'columns': 2,
        'items': [
          {
            'text': 'Current alerts',
            'href': '/alerts/current-alerts'
          },
          {
            'text': 'Past alerts',
            'href': '/alerts/past-alerts'
          },
          {
            'text': 'When you get an emergency alert',
            'href': '/alerts/when-you-get-an-alert'
          },
          {
            'text': 'Reasons you might get an emergency alert',
            'href': '/alerts/reasons-you-might-get-an-alert'
          },
          {
            'text': 'How emergency alerts work',
            'href': '/alerts/how-alerts-work'
          },
          {
            'text': 'Opt out of emergency alerts',
            'href': '/alerts/opt-out'
          }
        ]
      }
    ],
    'meta': {
      'items': [
        {
          'text': 'GOV.UK home page',
          'href': '/'
        },
        {
          'text': 'Privacy',
          'href': '/alerts/privacy-notice'
        },
        {
          'text': 'Accessibility statement',
          'href': '/help/accessibility-statement'
        },
        {
          'text': 'Terms and conditions',
          'href': '/help/terms-conditions'
        }
      ]
    }
  }) }}
{% endblock %}
