.atom-feed__header-content-padding {
  padding-left: 0;
}

.atom-feed__logo {
  width: auto;
  height: 34.55px;
}

.govuk-header__service-name {
  &.atom-feed__service-font-size {
  font-size: 1.75rem;
}
