@import "govuk/settings/index";
@import "govuk/helpers/index";

.example {
  display: block;

  // instead of swapping at the $tablet breakpoint keep it small until
  // 720px, when its column is wide enough to contain the larger size
  @include govuk-media-query($until: 720px) {
    width: 270px;
    height: 368px;
  }
}
