$govuk-new-organisation-colours: true;

@import "govuk/settings/index";
@import "govuk/helpers/index";

.alerts-image {
  &__container--centred {
    text-align: center;
    @include govuk-media-query($until: tablet) {
      margin-top: govuk-spacing(5);
    }
  }

  &__container--extra-margin {
    margin-bottom: govuk-spacing(5);
    @include govuk-media-query($from: tablet) {
      margin-top: govuk-spacing(2);
    }
    @include govuk-media-query($from: desktop) {
      margin-top: 0;
      margin-right: govuk-spacing(6);
      margin-left: govuk-spacing(6);
    }
  }

  &__image--centred {
    display: block;
    margin: 0 auto;
  }
}
