{%- from "templates/components/alerts_icon.html" import alerts_icon -%}

{% macro alert(areas, message, identifier) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="alerts-icon__container alerts-icon__container--48">
        {{ alerts_icon(height=48) }}
        <h2 class="alerts-alert__title govuk-heading-s govuk-!-margin-bottom-1">
          <span class="govuk-visually-hidden">Emergency alert sent to </span>{{ areas }}
        </h2>
        <p class="alerts-alert__message govuk-body-l govuk-!-margin-bottom-4">
          {{ message }}
        </p>
        <a href="/alerts/{{ identifier }}" class="govuk-link govuk-body">
          More information about this alert 
          <span class="govuk-visually-hidden"> to {{ areas }}</span>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}
