{% macro metaTags(description, title, url) %}
<meta property="og:description" content="{{ description }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="GOV.UK">
<meta property="og:image" content="/alerts/assets/images/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
<meta name="twitter:card" content="summary">
<meta name="description" content="{{ description }}">
{% endmacro %}
