{% macro survey() %}
<div class="alerts-feedback govuk-!-display-none-print">
  <div class="alerts-feedback__prompt">
    <h2 class="alerts-feedback__prompt-heading govuk-visually-hidden">
      Help us improve GOV.UK
    </h2>
    <p class="alerts-feedback__prompt-question govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="https://surveys.publishing.service.gov.uk/s/emergencyalertsurvey/">Give feedback about Emergency&nbsp;Alerts</a>
    </p>
  </div>
</div>
{% endmacro %}
