.govuk-header {
  &__service-name {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.govuk-footer {
  border-top: govuk-spacing(2) solid govuk-colour('blue');
}

.govuk-\!-font-numeric {
  @include govuk-font($size: false, $tabular: true);
  letter-spacing: .06em;
}
