.govuk-header {
  &__service-name {
    font-weight: 700;
    font-size: 1.5rem;
  }
  height: 60px;
  border-bottom: none;
  background-color: #1d70b8;
  vertical-align: baseline;
  border-bottom: none;
}

.govuk-header__logotype {
  margin-top: 5px;
  width: 158px;
  height: auto;
}

.govuk-header-container-refresh {
  position: relative;
  margin-bottom: -10px;
  padding-top: 10px
}

.govuk-footer {
  border-top: govuk-spacing(2) solid govuk-colour('blue');
}

.refresh-footer {
  border-top: 10px solid #1d70b8;
}

.refresh-footer-crown {
  margin-bottom: 0px;
  color: #0b0c0c;
}
@media (min-width: 40.0625em) {
  .refresh-footer-crown {
    margin-bottom: 50px;
  }
}
.refresh-footer-crown > p {
  text-wrap: balance;
}


.govuk-\!-font-numeric {
  @include govuk-font($size: false, $tabular: true);
  letter-spacing: .06em;
}

.address {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.govuk-subheader {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.govuk-breadcrumbs {
  margin-right: 10px;
}

.govuk-language-select {
  margin-left: 10px;
}

.govuk-separator {
  flex-grow: 1;
}

.govuk-feed {
  display: flex;
  align-items: flex-end;
  .govuk-link {
    margin-left: 5px;
  }
}
