.alerts-icon {
  position: absolute;
  left: 0;

  &--48 {
    top: 5px;
    width: 48px;
    height: 50px;
  }

  &__container {
    position: relative;
    padding-left: 72px;
  }
}

.govuk-heading-xl > .alerts-icon {
  top: -2px;
}

.govuk-heading-xl.alerts-icon__container {
  padding-left: 62px;
}
