{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/alert.html" import alert -%}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details-and-button.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  Current alerts
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Current alerts
  </h1>
  {% for current_alert in current_alerts %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {{ alert(
    areas=current_alert.area_names,
    message=current_alert.description,
    identifier=current_alert.identifier) }}
  {% endfor %}
  {% if current_alerts %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8">
  {% else %}
  <p class="govuk-body">There are no alerts currently being sent.</p>
  {% endif %}
{% endblock %}
