{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/alert.html" import alert -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Current alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="A list of the emergency alerts currently being sent in the UK",
    title=pageTitle,
    url="https://www.gov.uk/alerts/current-alerts"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">
    Current alerts
  </h1>
  {% for current_alert in alerts.current_and_public | sort(reverse=True) %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {{ alert(alert=current_alert) }}
  {% endfor %}

  {% if alerts.current_and_public %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8">
  {% else %}
  <p class="govuk-body">There are no current emergency alerts.</p>
  {% endif %}
{% endblock %}
