{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "How emergency alerts work" %}

{% block metaTags %}
  {{ metaTags(
    description="Emergency alerts are broadcast from mobile phone masts. Find out if your phone or tablet can receive alerts.",
    title=pageTitle,
    url="https://www.gov.uk/alerts/how-alerts-work"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How emergency alerts work
      </h1>
      <p class="govuk-body">
        Emergency alerts work like a radio broadcast.
      </p>
      <p class="govuk-body">
        In an emergency, mobile phone masts in the surrounding area will broadcast an alert. Every compatible mobile phone or tablet in range of a mast will receive the alert.
      </p>
      <h2 class="govuk-heading-l">
        What you need to know
      </h2>
      <p class="govuk-body">
        The emergency services and the UK government do not need your phone number to send you an alert.
      </p>
      <p class="govuk-body">
        You will get alerts based on your current location – not where you live or work.
      </p>
      <p class="govuk-body">
        No one will collect or share data about you, your device or your location when you receive an alert.
      </p>
      <p class="govuk-body">
        You will not get alerts if your device is turned off or in aeroplane mode.
      </p>
      <p class="govuk-body">
        Emergency alerts are free. You do not need to sign up for them or download an app.
      </p>
      <p class="govuk-body">
        You can <a class="govuk-link" href="/alerts/opt-out">opt out of some emergency alerts</a>, but you should keep them switched on for your own safety.
      </p>
      <h2 class="govuk-heading-m" id="phone-handsets-and-devices">
        Phone handsets and devices
      </h2>
      <p class="govuk-body">
        Make sure your device has all the latest software updates.
      </p>
      <p class="govuk-body">
        Emergency alerts work on:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>iPhones running iOS 14.5 or later</li>
        <li>Android phones and tablets running Android 11 or later</li>
      </ul>
      <p class="govuk-body">
        If you have an earlier version of Android, you may still be able to receive alerts. To check, search your settings for ‘emergency alerts’.
      </p>
      <h2 class="govuk-heading-m" id="mobile-phone-networks">
        Mobile phone networks
      </h2>
      <p class="govuk-body">
        Emergency alerts work on all 4G and 5G phone networks in the UK.
      </p>
      <p class="govuk-body">
        Phones and tablets connected to a 2G or 3G network will not receive emergency alerts.
      </p>
      <p class="govuk-body">
        Emergency alerts do not cause, and are not affected by, busy phone networks.
      </p>
      <h2 class="govuk-heading-m" id="cannot-get-alerts">
        If you cannot receive emergency alerts
      </h2>
      <p class="govuk-body">
        Emergency alerts are not the only way to warn people when lives are in danger.
      </p>
      <p class="govuk-body">
        The emergency services will still use existing ways of sharing information. For example, local news, television, radio or social media.
      </p>
    </div>
  </div>
{% endblock %}
