{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/banner.html" import banner, planned_tests_banner -%}
{%- from "templates/components/image.html" import image -%}
{%- from "templates/components/example.html" import example -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Emergency Alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="Your mobile phone or tablet may get an emergency alert if there’s a danger to life nearby. Alerts tell you what to do to stay safe.",
    title=pageTitle,
    url="https://www.gov.uk/alerts"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details-and-button.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Emergency Alerts
  </h1>
  {% if alerts.current %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {{ banner(alerts.current | length, alerts.last_updated_date) }}
  {% else %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {{ planned_tests_banner(1, "Tuesday 25 May") }}
  {% endif %}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">About Emergency Alerts</h2>
      <p class="govuk-body">
        Emergency Alerts is a new service from the UK government. It’s expected to launch in summer 2021.
      </p>
      <p class="govuk-body">
        Emergency alerts will warn you if there’s a danger to life nearby.
      </p>
      <p class="govuk-body">
        In an emergency, your phone or tablet will receive an alert with advice about how to stay safe.
      </p>
      <p class="govuk-body">
        <a href="/alerts/when-you-get-an-alert" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">What happens when you get an alert</a>
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      {{ example() }}
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Reasons you might get an&nbsp;alert</h2>
      <p class="govuk-body">
        The government and mobile phone networks are testing emergency alerts.
      </p>
      <p class="govuk-body">
        You may get an alert if you live in, or travel through, a test area.
      </p>
      <p class="govuk-body"><a href="/alerts/reasons-you-might-get-an-alert" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Other reasons you might get an alert</a></p>
    </div>
    <div class="govuk-grid-column-one-half">
      {{ image(
        path="/alerts/assets/images/emergencies.jpg",
        height="810",
        width="870",
        alt="Three images showing flooding, a fire, and blue police lights",
        centred=True,
        extra_margin=True
      ) }}
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">How it works</h2>
      <p class="govuk-body">
        Emergency alerts are broadcast from mobile phone masts. Every compatible mobile phone or tablet in range will receive an alert.
      </p>
      <p class="govuk-body">
        The government does not need your phone number to send you an alert.
      </p>
      <p class="govuk-body">
        <a href="/alerts/how-alerts-work" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">How emergency alerts work</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script async type="text/javascript" src="{{ '/alerts/assets/javascripts/relative-dates.js' | file_fingerprint }}"></script>
{% endblock %}
