{% extends "templates/content.html" %}

{% block page_title %}
  Local emergency alerts
{% endblock %}

{% block content %}
  <h1>
    Local emergency alerts
  </h1>
  <ul>
    <li>
      <a href='/alerts/when-you-get-an-alert'>What happens when you get an alert</a>
    </li>
    <li>
      <a href='/alerts/how-alerts-work'>How local emergency alerts work</a>
    </li>
    <li>
      <a href='/alerts/reasons-you-might-get-an-alert'>Reasons you might get an alert</a>
    </li>
    <li>
      <a href='/alerts/opt-out'>Opt out of local emergency alerts</a>
    </li>
  </ul>
{% endblock %}
