{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}

{% block pageTitleCurrent -%}
  How to opt out of emergency alerts
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How to opt out of emergency alerts
      </h1>
      <p class="govuk-body">
        If you opt out, you will not get any emergency alerts.
      </p>
      <p class="govuk-body">
        You cannot choose the type of hazard you want to get alerts about. If you opt out because you do not want flood warnings for example, you’ll also miss alerts for fires and terrorist incidents.
      </p>
      <p class="govuk-body">
        Because of this, we recommend you keep Emergency Alerts switched on for your own safety.
      </p>
      <h2 class="govuk-heading-m">
        Android phones and tablets
      </h2>
      <p class="govuk-body">
        To opt out, search your settings for ‘emergency alerts’ and turn off <b class="govuk-!-font-weight-bold">Severe threats</b>.
      </p>
      <p class="govuk-body">
        If this does not work, contact your device manufacturer.
      </p>
      <h2 class="govuk-heading-m">
        iPhone and iPad
      </h2>
      <p class="govuk-body">
        To opt out, search your settings for ‘emergency alerts’ and turn off <b class="govuk-!-font-weight-bold">Severe alerts</b>.
      </p>
      <p class="govuk-body">
        If this does not work, contact your device manufacturer.
      </p>
    </div>
  </div>
{% endblock %}
