{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "How to opt out of emergency alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="How to turn off emergency alerts on Android phones and tablets, and iPhones",
    title=pageTitle,
    url="https://www.gov.uk/alerts/opt-out"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How to opt out of emergency alerts
      </h1>
      <p class="govuk-body">
        You can opt out of some emergency alerts, but not the most important ones.
      </p>
      <p class="govuk-body">
        You cannot opt out by subject, only by how serious the emergency is. If you opt out because you do not want flood warnings, for example, you might miss alerts for fires and terrorism.
      </p>
      <p class="govuk-body">
        Because of this, you should keep emergency alerts switched on for your own safety.
      </p>
      <h2 class="govuk-heading-l">
        Android phones and tablets
      </h2>
      <p class="govuk-body">
        To opt out, search your settings for ‘emergency alerts’ and turn off <b class="govuk-!-font-weight-bold">Severe alerts</b>.
      </p>
      <p class="govuk-body">
        If this does not work, contact your device manufacturer.
      </p>
      <h3 class="govuk-heading-s" id="mobile-network-operator-tests">
        Mobile network operator tests
      </h3>
      <p class="govuk-body">
        To opt out of mobile network operator tests, search your settings for ‘emergency alerts’ and turn off <b class="govuk-!-font-weight-bold">Test alerts</b>.
      </p>
      {% set testAlertButton %}
      If you cannot see <b class="govuk-!-font-weight-bold">Test alerts</b>
      {% endset %}
      {% set testAlertAdvice %}
        <ul class="govuk-list govuk-list--number">
          <li>
            Open your phone calling app.
          </li>
          <li>
            Use the keypad to enter <span class="govuk-!-font-numeric govuk-!-font-weight-bold">*#*#2627#*#*</span>
          </li>
          <li>
            Search your settings for ‘emergency alerts’ and turn off <b class="govuk-!-font-weight-bold">Test alerts</b>.
          </li>
        </ul>
      {% endset %}
      {{ govukDetails({
        "summaryHtml": testAlertButton,
        "html": testAlertAdvice
      }) }}
      <h2 class="govuk-heading-l">
        iPhone
      </h2>
      <p class="govuk-body">
        To opt out, search your settings for ‘emergency alerts’ and turn off <b class="govuk-!-font-weight-bold">Severe alerts</b>.
      </p>
      <p class="govuk-body">
        If this does not work, contact your device manufacturer.
      </p>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}"></script>
{% endblock %}
