{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/alert.html" import alert -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Past alerts" %}

{% block metaTags %}
  {{ metaTags(
    description="A list of past emergency alerts that were sent in the UK",
    title=pageTitle,
    url="https://www.gov.uk/alerts/past-alerts"
  ) }}
{% endblock %}

{% block prefetch %}
  <link rel="prefetch" href="{{ '/alerts/assets/javascripts/govuk-frontend-details.js' | file_fingerprint }}" />
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>
  {% for previous_alert in alerts.expired %}
  <h2 class="govuk-heading-m {% if not loop.first %}govuk-!-margin-top-9{% endif %}">
    {{ previous_alert.sent_date.date_as_lang }}
  </h2>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {{ alert(alert=previous_alert) }}
  {% endfor %}
  {% if alerts.expired %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% else %}
  <p class="govuk-body">There are no past emergency alerts.</p>
  {% endif %}
{% endblock %}
