{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Planned tests" %}

{% block metaTags %}
  {{ metaTags(
    description="Planned tests of the Emergency Alerts service",
    title=pageTitle,
    url="https://www.gov.uk/alerts/planned-tests"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        Friday 2 July 2021
      </h2>
      <p class="govuk-body">
        Some mobile phone networks in the UK will test emergency alerts between midday and 2pm.
      </p>
      <p class="govuk-body">
        If you have an Android phone or tablet, there’s a small chance you’ll get a test alert.
      </p>
      <p class="govuk-body">
        You can <a class="govuk-link" href="/alerts/opt-out#mobile-network-tests">opt out of mobile network operator tests</a>.
      </p>
      <p class="govuk-body">
        If you do get an alert, your device may make a loud siren-like sound for about 10 seconds.
      </p>
      <p class="govuk-body">
        The alert will say:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          This is a mobile network operator test of the Emergency Alerts service. You do not need to take any action. To find out more, search for gov.uk/alerts
        </p>
      </div>

    </div>
  </div>
{% endblock %}
