{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Planned tests" %}

{% block metaTags %}
  {{ metaTags(
    description="Planned tests of the Emergency Alerts service",
    title=pageTitle,
    url="https://www.gov.uk/alerts/planned-tests"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>

      <p class="govuk-body">
        There are currently no planned tests of emergency alerts.
      </p>

      <p class="govuk-body">
        See <a class="govuk-link" href="/alerts/past-alerts">past alerts</a>.
      </p>
    </div>
  </div>
{% endblock %}
