{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Planned tests" %}

{% block metaTags %}
  {{ metaTags(
    description="Planned tests of the Emergency Alerts service",
    title=pageTitle,
    url="https://www.gov.uk/alerts/opt-out"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        Tuesday 22 June 2021
      </h2>
      <h3 class="govuk-body govuk-!-margin-bottom-6">
        Across the UK
      </h3>
      <p class="govuk-body">
        Some mobile phone networks in the UK are testing emergency alerts between 1pm and 2pm.
      </p>
      <p class="govuk-body">
        If you have an Android device, there’s a small chance you may get a test alert. Your device may make a loud siren-like sound.
      </p>
      <p class="govuk-body">
        The alert will say:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          This is a mobile network operator test of the Emergency Alerts service. You do not need to take any action. To find out more, search for gov.uk/alerts
        </p>
      </div>
      <p class="govuk-body">
        You can <a class="govuk-link" href="/alerts/opt-out#mobile-network-tests">opt out of mobile phone network tests</a>.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        Tuesday 29 June 2021
      </h2>
      <h3 class="govuk-body govuk-!-margin-bottom-6">
        Reading, Berkshire
      </h3>
      <p class="govuk-body">
        The UK government will send a test alert between 1pm and 2pm.
      </p>
      <p class="govuk-body">
        If you have an iPhone or Android device you may get an alert. Your device may make a loud siren-like sound. You do not need to take any action.
      </p>
      <p class="govuk-body">
        The alert will say:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          The UK government is testing Emergency Alerts in Reading, Berkshire.
        </p>
        <p class="govuk-body">
          Emergency alerts tell you what to do if there’s a life-threatening event nearby.
        </p>
        <p class="govuk-body">
          To find out more, call 0808 1697692 or search for gov.uk/alerts
        </p>
      </div>
    </div>
  </div>
{% endblock %}
