{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}

{% block pageTitleCurrent -%}
  Reasons you might get an emergency alert
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Reasons you might get an emergency alert
      </h1>
      <p class="govuk-body">
        Emergency Alerts are being developed by the UK government and mobile network operators.
      </p>
      <p class="govuk-body">
        If there’s a test in your local area, you might get an emergency alert.
      </p>
      <p class="govuk-body">
        You may also receive an alert if you travel through a test area during a test.
      </p>
      <h2 class="govuk-heading-m">
        After we launch Emergency Alerts
      </h2>
      <p class="govuk-body">
        Emergency Alerts will be used to warn the public about:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>severe flooding</li>
        <li>fires</li>
        <li>explosions</li>
        <li>terrorist incidents</li>
        <li>public health emergencies</li>
      </ul>
      <p class="govuk-body">
       Only the emergency services and authorised government agencies will be able to send alerts.
      </p>
      <p class="govuk-body">
        For most people, the chance of receiving an emergency alert is low.
      </p>
      <p class="govuk-body">
        How often you receive an alert will depend on where you live or work. For example, if you spend a lot of time in an area with a high risk of severe flooding, you may get more than one alert a year.
      </p>
    </div>
  </div>
{% endblock %}
