{% extends "templates/content.html" %}

{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from "templates/components/meta_tags.html" import metaTags -%}

{% set pageTitle = "Reasons you might get an emergency alert" %}

{% block metaTags %}
  {{ metaTags(
    description="The UK government is testing the Emergency Alerts service. Find out why you might get an emergency alert on your mobile phone or tablet",
    title=pageTitle,
    url="https://www.gov.uk/alerts/reasons-you-might-get-an-alert"
  ) }}
{% endblock %}

{% block pageTitleCurrent -%}
  {{ pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Emergency Alerts",
        "href": "/alerts"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Reasons you might get an emergency alert
      </h1>
      <p class="govuk-body">
        The government and mobile phone networks are testing emergency alerts.
      </p>
      <p class="govuk-body">
        If there’s a test in your local area, you might get an alert.
      </p>
      <p class="govuk-body">
        You may also get an alert if you travel through a test area during a test.
      </p>
      <h2 class="govuk-heading-m">
        When the service is live
      </h2>
      <p class="govuk-body">
        You may get alerts about:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>severe flooding</li>
        <li>fires</li>
        <li>explosions</li>
        <li>terrorist incidents</li>
        <li>public health emergencies</li>
      </ul>
      <p class="govuk-body">
        Emergency alerts will only be sent by:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the emergency services</li>
        <li>government departments, agencies and public bodies that deal with emergencies</li>
      </ul>
      <p class="govuk-body">
       For most people, the chance of receiving an alert will be low.
      </p>
      
    </div>
  </div>
{% endblock %}
