// GOVUK Frontend

// Version of node_modules/govuk-frontend/govuk/all.scss specific to /alerts pages
// Included to allow us to only include the components we need
// All imports come from node_modules/govuk-frontend/govuk

// set asset URL root to match that of application
$govuk-assets-path: "/alerts/assets/";
$govuk-new-link-styles: true;

@import "govuk/base";

@import "govuk/core/all";
@import "govuk/objects/all";

// section replacing @import "components/all", specifying which components to include
@import "govuk/components/skip-link/index";
@import "govuk/components/header/index";
@import "govuk/components/footer/index";
@import "govuk/components/breadcrumbs/index";
@import "govuk/components/details/index";
@import "govuk/components/button/index";
@import "govuk/components/inset-text/index";

@import "govuk/utilities/all";
@import "govuk/overrides/all";
