{% extends "govuk_frontend_jinja/template.html" %}

{%- from "govuk_frontend_jinja/components/header/macro.html" import govukHeader -%}
{%- from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter -%}
{%- from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner -%}
{%- from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner -%}

{% set govukRebrand = true %}

{% block pageTitle %}{% block pageTitleCurrent %}{% endblock %} - GOV.UK{% endblock %}

{% block headIcons %}
  <link rel="icon" sizes="48x48"  href="{{ '/alerts/assets/images/favicon.ico' | file_fingerprint }}">
  <link rel="icon" sizes="any"  href="{{ '/alerts/assets/images/favicon.svg' | file_fingerprint }}" type="image/svg+xml">
  <link rel="mask-icon" href="{{ '/alerts/assets/images/govuk-icon-mask.svg' | file_fingerprint }}"  color="#0b0c0c">
  <link rel="apple-touch-icon" href="{{ '/alerts/assets/images/govuk-icon-180.png' | file_fingerprint }}" >
  <link rel="alternate" type="application/atom+rss" href="/alerts/feed.atom" title="GOV.UK Emergency Alerts feed">
{% endblock %}

{% block head %}
  {% block metaTags %}{% endblock %}
  {# preload fonts to save the time it takes the browser to parse the CSS to find requests for them #}
  {%- for font in font_paths %}
  <link rel="preload" href="/{{ font }}" as="font" type="font/woff2" crossorigin>
  {%- endfor %}
  {# prefetch block for any files needed in future navigations - doesn't block resources for the current page #}
  {% block prefetch %}{% endblock %}
  <link media="print" href="{{ '/alerts/assets/stylesheets/main-print.css' | file_fingerprint }}" rel="stylesheet">
  <!--[if !IE 8]><!-->
  <link media="screen" href="{{ '/alerts/assets/stylesheets/main.css' | file_fingerprint }}" rel="stylesheet">
  <!--<![endif]-->
  <!--[if IE 8]>
  <link media="screen" href="{{ '/alerts/assets/stylesheets/main-ie8.css' | file_fingerprint }}" rel="stylesheet">
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="{{ '/alerts/assets/javascripts/vendor/html5shiv/html5shiv.min.js' | file_fingerprint }}"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    'assetsPath': '/alerts/assets/images',
    "serviceName": "Emergency Alerts",
    'rebrand': "true"
  }) }}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      'tag': {
        'text': "BETA"
      },
      'html': 'This is a new service that is being trialled – your <a class="govuk-link" href="https://surveys.publishing.service.gov.uk/s/5M75HQ/">feedback</a> will help us to improve it.'
    }) }}
  </div>
  <div class="govuk-width-container banner-margin-top">
    {{ govukNotificationBanner({
      'text': "We are testing the UK’s Emergency Alerts system on Sunday 7 September at 3pm."
    }) }}
  </div>
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'rebrand': "true",
    'meta': {
      'items': [
        {
          'text': 'Privacy',
          'href': '/alerts/privacy-notice'
        },
        {
          'text': 'Accessibility statement',
          'href': 'https://www.gov.uk/help/accessibility-statement'
        },
        {
          'text': 'Terms and conditions',
          'href': 'https://www.gov.uk/help/terms-conditions'
        }
      ]
    }
  }) }}
{% endblock %}
